@font-face
{
    font-family: 'IcoMoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon-.eot#iefix') format('embedded-opentype'),
        url('fonts/icomoon.svg.html#IcoMoon') format('svg'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], 
[class*=" icon-"]
{
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

[class^="icon-"]:before, 
[class*=" icon-"]:before
{
    font-family: 'IcoMoon';
    font-weight: normal;
    font-style: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.icon-glass:before{content:"\f000";}
.icon-heart:before{content:"\f004";}
.icon-star:before{content:"\f005";}
.icon-star-empty:before{content:"\f006";}
.icon-th-large:before{content:"\f009";}
.icon-th:before{content:"\f00a";}
.icon-th-list:before{content:"\f00b";}
.icon-remove:before{content:"\f00d";}
.icon-off:before{content:"\f011";}
.icon-trash:before{content:"\f014";}
.icon-home:before{content:"\f015";}
.icon-road:before{content:"\f018";}
.icon-volume-off:before{content:"\f026";}
.icon-volume-down:before{content:"\f027";}
.icon-volume-up:before{content:"\f028";}
.icon-qrcode:before{content:"\f029";}
.icon-tag:before{content:"\f02b";}
.icon-tags:before{content:"\f02c";}
.icon-font:before{content:"\f031";}
.icon-bold:before{content:"\f032";}
.icon-italic:before{content:"\f033";}
.icon-text-height:before{content:"\f034";}
.icon-text-width:before{content:"\f035";}
.icon-align-left:before{content:"\f036";}
.icon-align-center:before{content:"\f037";}
.icon-align-right:before{content:"\f038";}
.icon-align-justify:before{content:"\f039";}
.icon-indent-left:before{content:"\f03b";}
.icon-indent-right:before{content:"\f03c";}
.icon-adjust:before{content:"\f042";}
.icon-share:before{content:"\f045";}
.icon-check:before{content:"\f046";}
.icon-move:before{content:"\f047";}
.icon-step-backward:before{content:"\f048";}
.icon-fast-backward:before{content:"\f049";}
.icon-backward:before{content:"\f04a";}
.icon-play:before{content:"\f04b";}
.icon-pause:before{content:"\f04c";}
.icon-stop:before{content:"\f04d";}
.icon-forward:before{content:"\f04e";}
.icon-fast-forward:before{content:"\f050";}
.icon-step-forward:before{content:"\f051";}
.icon-eject:before{content:"\f052";}
.icon-chevron-left:before{content:"\f053";}
.icon-chevron-right:before{content:"\f054";}
.icon-remove-circle:before{content:"\f05c";}
.icon-ok-circle:before{content:"\f05d";}
.icon-share-2:before{content:"\f064";}
.icon-resize-full:before{content:"\f065";}
.icon-resize-small:before{content:"\f066";}
.icon-plus:before{content:"\f067";}
.icon-minus:before{content:"\f068";}
.icon-asterisk:before{content:"\f069";}
.icon-eye-open:before{content:"\f06e";}
.icon-eye-closed:before{content:"\f070";}
.icon-magnet:before{content:"\f076";}
.icon-chevron-up:before{content:"\f077";}
.icon-chevron-down:before{content:"\f078";}
.icon-resize-vertical:before{content:"\f07d";}
.icon-resize-horizontal:before{content:"\f07e";}
.icon-thumbs-up:before{content:"\f087";}
.icon-thumbs-down:before{content:"\f088";}
.icon-hand-right:before{content:"\f0a4";}
.icon-hand-left:before{content:"\f0a5";}
.icon-hand-up:before{content:"\f0a6";}
.icon-hand-down:before{content:"\f0a7";}
.icon-bullhorn:before{content:"\f0a1";}
.icon-certificate:before{content:"\f0a3";}
.icon-circle-arrow-right:before{content:"\f0a8";}
.icon-circle-arrow-left:before{content:"\f0a9";}
.icon-circle-arrow-up:before{content:"\f0aa";}
.icon-circle-arrow-down:before{content:"\f0ab";}
.icon-tasks:before{content:"\f0ae";}
.icon-film:before{content:"\f008";}
.icon-ok:before{content:"\f00c";}
.icon-book:before{content:"\f02d";}
.icon-caret-down:before{content:"\f0d7";}
.icon-caret-up:before{content:"\f0d8";}
.icon-caret-left:before{content:"\f0d9";}
.icon-caret-right:before{content:"\f0da";}
.icon-sort:before{content:"\f0dc";}
.icon-sort-up:before{content:"\f0de";}
.icon-sort-down:before{content:"\f0dd";}
.icon-magic:before{content:"\f0d0";}
.icon-cogs:before{content:"\f085";}
.icon-pie-chart:before{content:"\e05a";}
.icon-support:before{content:"\e05b";}
.icon-hour-glass:before{content:"\e05c";}
.icon-key-2:before{content:"\e05d";}
.icon-keyboard:before{content:"\e05e";}
.icon-light-bulb:before{content:"\e05f";}
.icon-link:before{content:"\e060";}
.icon-unlink:before{content:"\e061";}
.icon-microphone:before{content:"\e062";}
.icon-mouse:before{content:"\e063";}
.icon-tablet:before{content:"\e064";}
.icon-mobile-phone:before{content:"\e065";}
.icon-phone:before{content:"\e066";}
.icon-pacman:before{content:"\e067";}
.icon-paper-airplane:before{content:"\e068";}
.icon-attachment:before{content:"\e069";}
.icon-record:before{content:"\e06a";}
.icon-file-zip:before{content:"\e06b";}
.icon-power:before{content:"\e06c";}
.icon-radio:before{content:"\e06d";}
.icon-cloud:before{content:"\e06e";}
.icon-rainy:before{content:"\e06f";}
.icon-lightning:before{content:"\e070";}
.icon-rainy-2:before{content:"\e071";}
.icon-cloudy:before{content:"\e072";}
.icon-cloud-2:before{content:"\e073";}
.icon-windy:before{content:"\e074";}
.icon-windy-2:before{content:"\e075";}
.icon-snowy:before{content:"\e076";}
.icon-snowy-2:before{content:"\e077";}
.icon-weather:before{content:"\e078";}
.icon-cloudy-2:before{content:"\e079";}
.icon-lightning-2:before{content:"\e07a";}
.icon-sun:before{content:"\e07b";}
.icon-moon:before{content:"\e07c";}
.icon-snowflake:before{content:"\e07d";}
.icon-sun-2:before{content:"\e07e";}
.icon-safari:before{content:"\e081";}
.icon-scissor:before{content:"\f0c4";}
.icon-settings:before{content:"\e082";}
.icon-television:before{content:"\e083";}
.icon-tools:before{content:"\e084";}
.icon-tree:before{content:"\e085";}
.icon-truck:before{content:"\f0d1";}
.icon-gift:before{content:"\f06b";}
.icon-umbrella:before{content:"\f0e9";}
.icon-spades:before{content:"\e086";}
.icon-clubs:before{content:"\e087";}
.icon-diamonds:before{content:"\e088";}
.icon-atom:before{content:"\e08a";}
.icon-planet:before{content:"\e08b";}
.icon-yinyang:before{content:"\e08c";}
.icon-pie-chart-3:before{content:"\e08d";}
.icon-pie-chart-2:before{content:"\e08e";}
.icon-newspaper:before{content:"\e08f";}
.icon-database:before{content:"\e090";}
.icon-gauge:before{content:"\e091";}
.icon-accessibility:before{content:"\e092";}
.icon-apple:before{content:"\e093";}
.icon-android:before{content:"\e094";}
.icon-windows:before{content:"\e095";}
.icon-file-xml:before{content:"\e096";}
.icon-file-css:before{content:"\e097";}
.icon-html5:before{content:"\e098";}
.icon-cyclop:before{content:"\e099";}
.icon-bended-arrow-up:before{content:"\e09a";}
.icon-bended-arrow-down:before{content:"\e09b";}
.icon-key:before{content:"\f084";}
.icon-pushpin:before{content:"\f08d";}
.icon-table:before{content:"\f0ce";}
.icon-legal:before{content:"\f0e3";}
.icon-stats-up:before{content:"\e09c";}
.icon-google-circles:before{content:"\e09d";}
.icon-sound:before{content:"\e09e";}
.icon-mute:before{content:"\e09f";}
.icon-lemon:before{content:"\f094";}
.icon-dribbble:before{content:"\e0a1";}
.icon-graph:before{content:"\e0a2";}
.icon-sign-post:before{content:"\e0a3";}
.icon-add-contact:before{content:"\e0a4";}
.icon-chemical:before{content:"\e0a5";}
.icon-network:before{content:"\e0a6";}
.icon-calendar-month:before{content:"\e0a7";}
.icon-progress-bar:before{content:"\e0a8";}
.icon-download:before{content:"\e002";}
.icon-download-2:before{content:"\e003";}
.icon-upload:before{content:"\e004";}
.icon-upload-2:before{content:"\e005";}
.icon-briefcase:before{content:"\e006";}
.icon-user:before{content:"\e007";}
.icon-users:before{content:"\e008";}
.icon-twitter:before{content:"\e009";}
.icon-exclamation-sign:before{content:"\e00a";}
.icon-music:before{content:"\e00c";}
.icon-search:before{content:"\e00d";}
.icon-film-camera:before{content:"\e00e";}
.icon-zoom-out:before{content:"\e00f";}
.icon-zoom-in:before{content:"\e010";}
.icon-broadcast:before{content:"\e011";}
.icon-cog:before{content:"\e012";}
.icon-cog-2:before{content:"\e013";}
.icon-home-2:before{content:"\e014";}
.icon-file-pdf:before{content:"\e015";}
.icon-file-openoffice:before{content:"\e016";}
.icon-file-word:before{content:"\e017";}
.icon-file-excel:before{content:"\e018";}
.icon-file-powerpoint:before{content:"\e019";}
.icon-file:before{content:"\e01a";}
.icon-time:before{content:"\e01b";}
.icon-inbox:before{content:"\e01d";}
.icon-play-circle:before{content:"\e01e";}
.icon-repeat:before{content:"\e01f";}
.icon-refresh:before{content:"\e020";}
.icon-list-2:before{content:"\e022";}
.icon-lock:before{content:"\e023";}
.icon-unlock:before{content:"\e024";}
.icon-flag:before{content:"\e025";}
.icon-headphones:before{content:"\e026";}
.icon-bookmark:before{content:"\e027";}
.icon-print:before{content:"\e028";}
.icon-camera:before{content:"\e02a";}
.icon-list:before{content:"\f03a";}
.icon-facetime-video:before{content:"\e021";}
.icon-picture:before{content:"\e029";}
.icon-pictures:before{content:"\e02b";}
.icon-pencil:before{content:"\e02c";}
.icon-tint:before{content:"\e02e";}
.icon-plus-sign:before{content:"\e02f";}
.icon-minus-sign:before{content:"\e030";}
.icon-remove-sign:before{content:"\e031";}
.icon-ok-sign:before{content:"\e032";}
.icon-question-sign:before{content:"\e033";}
.icon-info-sign:before{content:"\e034";}
.icon-screenshot:before{content:"\e035";}
.icon-arrow-right:before{content:"\e036";}
.icon-arrow-left:before{content:"\e037";}
.icon-arrow-up:before{content:"\e038";}
.icon-arrow-down:before{content:"\e039";}
.icon-leaf:before{content:"\e03a";}
.icon-fire:before{content:"\e03b";}
.icon-plane:before{content:"\e03c";}
.icon-random:before{content:"\e03e";}
.icon-comments:before{content:"\e03f";}
.icon-comment:before{content:"\e040";}
.icon-retweet:before{content:"\e041";}
.icon-folder-closed:before{content:"\e042";}
.icon-folder-close:before{content:"\e044";}
.icon-hdd:before{content:"\e045";}
.icon-bell:before{content:"\e046";}
.icon-globe:before{content:"\e047";}
.icon-wrench:before{content:"\e048";}
.icon-filter:before{content:"\e049";}
.icon-shopping-cart:before{content:"\e04b";}
.icon-cd:before{content:"\e000";}
.icon-signal:before{content:"\e04c";}
.icon-cog-3:before{content:"\e04d";}
.icon-fullscreen:before{content:"\f0b2";}
.icon-ban-circle:before{content:"\f05e";}
.icon-trophy:before{content:"\f091";}
.icon-stats:before{content:"\e043";}
.icon-t-shirt:before{content:"\e04a";}
.icon-steering-wheel:before{content:"\e04e";}
.icon-bended-arrow-left:before{content:"\e04f";}
.icon-bended-arrow-right:before{content:"\e050";}
.icon-compass:before{content:"\e051";}
.icon-facebook:before{content:"\e052";}
.icon-bars:before{content:"\e053";}
.icon-loading:before{content:"\e054";}
.icon-food:before{content:"\e055";}
.icon-bag:before{content:"\e056";}
.icon-warning-sign:before{content:"\e001";}
.icon-history:before{content:"\e058";}
.icon-install:before{content:"\e059";}
.icon-archive:before{content:"\e0a0";}
.icon-battery:before{content:"\e0a9";}
.icon-publish:before{content:"\e0aa";}
.icon-feather:before{content:"\e0ab";}
.icon-calendar:before{content:"\e0ac";}
.icon-moon-2:before{content:"\e03d";}
.icon-comment-2:before{content:"\e0ad";}
.icon-comments-2:before{content:"\e0ae";}
.icon-business-card:before{content:"\e0af";}
.icon-flashlight:before{content:"\e0b0";}
.icon-monitor:before{content:"\e0b1";}
.icon-coffee:before{content:"\e0b2";}
.icon-frame:before{content:"\e089";}
.icon-boat:before{content:"\e0b3";}
.icon-drops:before{content:"\e0b4";}
.icon-mug:before{content:"\e0b5";}
.icon-reply:before{content:"\e0b6";}
.icon-official:before{content:"\e0b7";}
.icon-envelope:before{content:"\e0b9";}
.icon-map-marker:before{content:"\e02d";}
.icon-edit:before{content:"\f044";}
.icon-barcode:before{content:"\f02a";}
.icon-trophy-2:before{content:"\e00b";}
.icon-rocket:before{content:"\e01c";}
.icon-bus:before{content:"\e0bb";}
.icon-chart:before{content:"\e057";}
.icon-chart-alt:before{content:"\e0b8";}
.icon-apple-2:before{content:"\e0ba";}
.icon-chrome:before{content:"\e0bc";}
.icon-firefox:before{content:"\e0bd";}
.icon-IE:before{content:"\e0be";}
.icon-opera:before{content:"\e0bf";}
.icon-github:before{content:"\e0c0";}
.icon-twitter-2:before{content:"\e0c1";}
.icon-seven-segment:before{content:"\e0c2";}
.icon-seven-segment-2:before{content:"\e0c3";}
.icon-seven-segment-3:before{content:"\e0c4";}
.icon-seven-segment-4:before{content:"\e0c5";}
.icon-seven-segment-5:before{content:"\e0c6";}
.icon-seven-segment-6:before{content:"\e0c7";}
.icon-seven-segment-7:before{content:"\e0c8";}
.icon-seven-segment-8:before{content:"\e0c9";}
.icon-seven-segment-9:before{content:"\e0ca";}
.icon-seven-segment-10:before{content:"\e0cb";}
.icon-snowy-3:before{content:"\e0cc";}
.icon-snowy-4:before{content:"\e0cd";}
.icon-weather-2:before{content:"\e0ce";}
.icon-cloudy-3:before{content:"\e0cf";}
.icon-snowy-5:before{content:"\e0d0";}
.icon-cloud-3:before{content:"\e0d1";}
.icon-lightning-3:before{content:"\e0d2";}
.icon-cloudy-4:before{content:"\e0d3";}
.icon-cloud-4:before{content:"\e0d4";}
.icon-cloud-5:before{content:"\e0d5";}
.icon-lightning-4:before{content:"\e0d6";}
.icon-lightning-5:before{content:"\e0d7";}
.icon-rainy-3:before{content:"\e0d8";}
.icon-rainy-4:before{content:"\e0d9";}
.icon-windy-3:before{content:"\e0da";}
.icon-windy-4:before{content:"\e0db";}
.icon-Celsius:before{content:"\e0dc";}
.icon-Fahrenheit:before{content:"\e0dd";}
.icon-none:before{content:"\e0de";}
.icon-rss:before{content:"\f09e";}
.icon-accessibility-2:before{content:"\e080";}
.icon-wordpress:before{content:"\e0df";}
.icon-deviantart:before{content:"\e0e0";}
.icon-pinterest:before{content:"\e0e1";}
.icon-delicious:before{content:"\e0e2";}
.icon-pencil-2:before{content:"\f040";}
.icon-loading-2:before{content:"\e0e3";}
.icon-meter-slow:before{content:"\e0e4";}
.icon-meter-medium:before{content:"\e0e5";}
.icon-meter-fast:before{content:"\e0e6";}
.icon-amazon:before{content:"\e0e7";}
.icon-yahoo:before{content:"\e0e8";}
.icon-finder:before{content:"\e0e9";}
.icon-gplus:before{content:"\e0ea";}
.icon-bluetooth:before{content:"\e0eb";}
.icon-flickr:before{content:"\e0ec";}
.icon-calculate:before{content:"\e0ed";}
.icon-box-add:before{content:"\e0ee";}
.icon-box-remove:before{content:"\e0ef";}
.icon-battery-low:before{content:"\e0f0";}
.icon-battery-2:before{content:"\e0f1";}
.icon-battery-full:before{content:"\e0f2";}
.icon-battery-charging:before{content:"\e0f3";}
.icon-usb:before{content:"\e0f4";}
.icon-cord:before{content:"\e0f5";}
.icon-linkedin:before{content:"\e0f6";}
.icon-quote:before{content:"\e0f7";}
.icon-bell-2:before{content:"\e0f8";}
.icon-history-2:before{content:"\e0f9";}
.icon-home-3:before{content:"\e0fa";}
.icon-direction:before{content:"\e0fb";}
.icon-facebook-2:before{content:"\e0fc";}
.icon-facebook-3:before{content:"\e0fd";}
.icon-forrst:before{content:"\e0fe";}
.icon-forrst-2:before{content:"\e0ff";}
.icon-amazon-2:before{content:"\e100";}
.icon-deviantart-2:before{content:"\e101";}
.icon-twitter-3:before{content:"\e102";}
.icon-twitter-4:before{content:"\e103";}
.icon-github-2:before{content:"\e104";}
.icon-github-3:before{content:"\e106";}
.icon-skype:before{content:"\e10d";}
.icon-reddit:before{content:"\e110";}
.icon-html5-2:before{content:"\e111";}
.icon-vimeo:before{content:"\e10a";}
.icon-github-4:before{content:"\e112";}
.icon-css3:before{content:"\e10f";}
.icon-lastfm:before{content:"\e115";}
.icon-blogger:before{content:"\e117";}
.icon-wordpress-2:before{content:"\e118";}
.icon-blogger-2:before{content:"\e11a";}
.icon-yahoo-2:before{content:"\e11b";}
.icon-dribbble-2:before{content:"\e11c";}
.icon-dribbble-3:before{content:"\e11d";}
.icon-picassa:before{content:"\e11e";}
.icon-picassa-2:before{content:"\e11f";}
.icon-google-plus:before{content:"\e07f";}
.icon-power-2:before{content:"\e105";}
.icon-reply-to-all:before{content:"\e107";}
.icon-winsows:before{content:"\e108";}
.icon-broadcast-2:before{content:"\e109";}
.icon-movie:before{content:"\e10b";}
.icon-camera-2:before{content:"\e10c";}
.icon-lollipop:before{content:"\e10e";}
.icon-blocked:before{content:"\e113";}
.icon-creative-commons:before{content:"\e114";}
.icon-arrow-up-2:before{content:"\e116";}
.icon-arrow-right-2:before{content:"\e119";}
.icon-arrow-down-2:before{content:"\e120";}
.icon-arrow-left-2:before{content:"\e121";}
.icon-arrow-up-left:before{content:"\e122";}
.icon-arrow-up-3:before{content:"\e123";}
.icon-arrow-up-right:before{content:"\e124";}
.icon-arrow-right-3:before{content:"\e125";}
.icon-arrow-down-right:before{content:"\e126";}
.icon-arrow-down-3:before{content:"\e127";}
.icon-coffee-2:before{content:"\e128";}
.icon-movie-2:before{content:"\e129";}
