body {
	background-image: url('../images/bg.jpg');
	background-repeat:no-repeat;
	background-position: center center;
}

#mws-login-wrapper{
	top : 58%;
}

#judul_jatim {
	width: 700px;
	left: 50%;
	top: 24%;
	margin-left: -350px;
	margin-top: -142px;
	position: absolute;
}

#judul_header {
	width: 700px;
	left: 50%;
	top: 38%;
	margin-left: -350px;
	margin-top: -142px;
	position: absolute;
}

#bulatan {
	width: 562px;
	left: 50%;
	bottom: 6%;
	margin-left: -276px;
	margin-top: -142px;
	position: absolute;
}

#bulatan img{
	margin: 5px;
}

#footer {
	width: 562px;
	left: 50%;
	bottom: 2%;
	margin-left: -276px;
	margin-top: -142px;
	position: absolute;
	text-align: center;
}