/* Base Icon Style
================================================== */

[class^="icol32-"],  
[class*=" icol32-"]
{
	display: inline-block;
	*display: inline; /* IE7 inline-block hack */
	*zoom: 1;
	
	width: 32px;
	height: 32px;
	*margin-right: .3em;
	line-height: 32px;
	vertical-align: text-top;
	background-repeat: no-repeat;
	background-position: center center;
}

/* Icon Definitions
================================================== */
.icol32-accept{background-image:url("icol32/accept.png");}
.icol32-add{background-image:url("icol32/add.png");}
.icol32-advertising{background-image:url("icol32/advertising.png");}
.icol32-agp{background-image:url("icol32/agp.png");}
.icol32-alarm-bell{background-image:url("icol32/alarm_bell.png");}
.icol32-all-right-reserved{background-image:url("icol32/all_right_reserved.png");}
.icol32-anchor{background-image:url("icol32/anchor.png");}
.icol32-android{background-image:url("icol32/android.png");}
.icol32-angel{background-image:url("icol32/angel.png");}
.icol32-anti-xss{background-image:url("icol32/anti_xss.png");}
.icol32-aol-mail{background-image:url("icol32/aol_mail.png");}
.icol32-application{background-image:url("icol32/application.png");}
.icol32-application-add{background-image:url("icol32/application_add.png");}
.icol32-application-cascade{background-image:url("icol32/application_cascade.png");}
.icol32-application-delete{background-image:url("icol32/application_delete.png");}
.icol32-application-double{background-image:url("icol32/application_double.png");}
.icol32-application-edit{background-image:url("icol32/application_edit.png");}
.icol32-application-error{background-image:url("icol32/application_error.png");}
.icol32-application-form{background-image:url("icol32/application_form.png");}
.icol32-application-form-add{background-image:url("icol32/application_form_add.png");}
.icol32-application-form-delete{background-image:url("icol32/application_form_delete.png");}
.icol32-application-form-edit{background-image:url("icol32/application_form_edit.png");}
.icol32-application-form-magnify{background-image:url("icol32/application_form_magnify.png");}
.icol32-application-get{background-image:url("icol32/application_get.png");}
.icol32-application-go{background-image:url("icol32/application_go.png");}
.icol32-application-home{background-image:url("icol32/application_home.png");}
.icol32-application-key{background-image:url("icol32/application_key.png");}
.icol32-application-lightning{background-image:url("icol32/application_lightning.png");}
.icol32-application-link{background-image:url("icol32/application_link.png");}
.icol32-application-osx{background-image:url("icol32/application_osx.png");}
.icol32-application-osx-terminal{background-image:url("icol32/application_osx_terminal.png");}
.icol32-application-put{background-image:url("icol32/application_put.png");}
.icol32-application-side-boxes{background-image:url("icol32/application_side_boxes.png");}
.icol32-application-side-contract{background-image:url("icol32/application_side_contract.png");}
.icol32-application-side-expand{background-image:url("icol32/application_side_expand.png");}
.icol32-application-side-list{background-image:url("icol32/application_side_list.png");}
.icol32-application-side-tree{background-image:url("icol32/application_side_tree.png");}
.icol32-application-split{background-image:url("icol32/application_split.png");}
.icol32-application-tile-horizontal{background-image:url("icol32/application_tile_horizontal.png");}
.icol32-application-tile-vertical{background-image:url("icol32/application_tile_vertical.png");}
.icol32-application-view-columns{background-image:url("icol32/application_view_columns.png");}
.icol32-application-view-detail{background-image:url("icol32/application_view_detail.png");}
.icol32-application-view-gallery{background-image:url("icol32/application_view_gallery.png");}
.icol32-application-view-icons{background-image:url("icol32/application_view_icons.png");}
.icol32-application-view-list{background-image:url("icol32/application_view_list.png");}
.icol32-application-view-tile{background-image:url("icol32/application_view_tile.png");}
.icol32-application-xp{background-image:url("icol32/application_xp.png");}
.icol32-application-xp-terminal{background-image:url("icol32/application_xp_terminal.png");}
.icol32-arrow-branch{background-image:url("icol32/arrow_branch.png");}
.icol32-arrow-divide{background-image:url("icol32/arrow_divide.png");}
.icol32-arrow-down{background-image:url("icol32/arrow_down.png");}
.icol32-arrow-in{background-image:url("icol32/arrow_in.png");}
.icol32-arrow-inout{background-image:url("icol32/arrow_inout.png");}
.icol32-arrow-join{background-image:url("icol32/arrow_join.png");}
.icol32-arrow-left{background-image:url("icol32/arrow_left.png");}
.icol32-arrow-merge{background-image:url("icol32/arrow_merge.png");}
.icol32-arrow-out{background-image:url("icol32/arrow_out.png");}
.icol32-arrow-redo{background-image:url("icol32/arrow_redo.png");}
.icol32-arrow-refresh{background-image:url("icol32/arrow_refresh.png");}
.icol32-arrow-refresh-small{background-image:url("icol32/arrow_refresh_small.png");}
.icol32-arrow-right{background-image:url("icol32/arrow_right.png");}
.icol32-arrow-rotate-anticlockwise{background-image:url("icol32/arrow_rotate_anticlockwise.png");}
.icol32-arrow-rotate-clockwise{background-image:url("icol32/arrow_rotate_clockwise.png");}
.icol32-arrow-switch{background-image:url("icol32/arrow_switch.png");}
.icol32-arrow-turn-left{background-image:url("icol32/arrow_turn_left.png");}
.icol32-arrow-turn-right{background-image:url("icol32/arrow_turn_right.png");}
.icol32-arrow-undo{background-image:url("icol32/arrow_undo.png");}
.icol32-arrow-up{background-image:url("icol32/arrow_up.png");}
.icol32-ask-and-answer{background-image:url("icol32/ask_and_answer.png");}
.icol32-asterisk-orange{background-image:url("icol32/asterisk_orange.png");}
.icol32-asterisk-yellow{background-image:url("icol32/asterisk_yellow.png");}
.icol32-attach{background-image:url("icol32/attach.png");}
.icol32-attributes-display{background-image:url("icol32/attributes_display.png");}
.icol32-attribution{background-image:url("icol32/attribution.png");}
.icol32-autos{background-image:url("icol32/autos.png");}
.icol32-award-star-add{background-image:url("icol32/award_star_add.png");}
.icol32-award-star-bronze-1{background-image:url("icol32/award_star_bronze_1.png");}
.icol32-award-star-bronze-2{background-image:url("icol32/award_star_bronze_2.png");}
.icol32-award-star-bronze-3{background-image:url("icol32/award_star_bronze_3.png");}
.icol32-award-star-delete{background-image:url("icol32/award_star_delete.png");}
.icol32-award-star-gold-1{background-image:url("icol32/award_star_gold_1.png");}
.icol32-award-star-gold-2{background-image:url("icol32/award_star_gold_2.png");}
.icol32-award-star-gold-3{background-image:url("icol32/award_star_gold_3.png");}
.icol32-award-star-silver-1{background-image:url("icol32/award_star_silver_1.png");}
.icol32-award-star-silver-2{background-image:url("icol32/award_star_silver_2.png");}
.icol32-award-star-silver-3{background-image:url("icol32/award_star_silver_3.png");}
.icol32-basket{background-image:url("icol32/basket.png");}
.icol32-basket-add{background-image:url("icol32/basket_add.png");}
.icol32-basket-delete{background-image:url("icol32/basket_delete.png");}
.icol32-basket-edit{background-image:url("icol32/basket_edit.png");}
.icol32-basket-error{background-image:url("icol32/basket_error.png");}
.icol32-basket-go{background-image:url("icol32/basket_go.png");}
.icol32-basket-put{background-image:url("icol32/basket_put.png");}
.icol32-basket-remove{background-image:url("icol32/basket_remove.png");}
.icol32-battery{background-image:url("icol32/battery.png");}
.icol32-battery-full{background-image:url("icol32/battery_full.png");}
.icol32-battery-half{background-image:url("icol32/battery_half.png");}
.icol32-battery-low{background-image:url("icol32/battery_low.png");}
.icol32-bell{background-image:url("icol32/bell.png");}
.icol32-bell-add{background-image:url("icol32/bell_add.png");}
.icol32-bell-delete{background-image:url("icol32/bell_delete.png");}
.icol32-bell-error{background-image:url("icol32/bell_error.png");}
.icol32-bell-go{background-image:url("icol32/bell_go.png");}
.icol32-bell-link{background-image:url("icol32/bell_link.png");}
.icol32-billiard-marker{background-image:url("icol32/billiard_marker.png");}
.icol32-bin{background-image:url("icol32/bin.png");}
.icol32-bin-closed{background-image:url("icol32/bin_closed.png");}
.icol32-bin-empty{background-image:url("icol32/bin_empty.png");}
.icol32-bios{background-image:url("icol32/bios.png");}
.icol32-blackberry{background-image:url("icol32/blackberry.png");}
.icol32-blackberry-white{background-image:url("icol32/blackberry_white.png");}
.icol32-blackboard-drawing{background-image:url("icol32/blackboard_drawing.png");}
.icol32-blackboard-empty{background-image:url("icol32/blackboard_empty.png");}
.icol32-blackboard-steps{background-image:url("icol32/blackboard_steps.png");}
.icol32-blackboard-sum{background-image:url("icol32/blackboard_sum.png");}
.icol32-bomb{background-image:url("icol32/bomb.png");}
.icol32-book{background-image:url("icol32/book.png");}
.icol32-bookmark{background-image:url("icol32/bookmark.png");}
.icol32-books{background-image:url("icol32/books.png");}
.icol32-book-add{background-image:url("icol32/book_add.png");}
.icol32-book-addresses{background-image:url("icol32/book_addresses.png");}
.icol32-book-delete{background-image:url("icol32/book_delete.png");}
.icol32-book-edit{background-image:url("icol32/book_edit.png");}
.icol32-book-error{background-image:url("icol32/book_error.png");}
.icol32-book-go{background-image:url("icol32/book_go.png");}
.icol32-book-key{background-image:url("icol32/book_key.png");}
.icol32-book-link{background-image:url("icol32/book_link.png");}
.icol32-book-next{background-image:url("icol32/book_next.png");}
.icol32-book-open{background-image:url("icol32/book_open.png");}
.icol32-book-previous{background-image:url("icol32/book_previous.png");}
.icol32-box{background-image:url("icol32/box.png");}
.icol32-box-down{background-image:url("icol32/box_down.png");}
.icol32-brain{background-image:url("icol32/brain.png");}
.icol32-brain-trainer{background-image:url("icol32/brain_trainer.png");}
.icol32-breeze{background-image:url("icol32/breeze.png");}
.icol32-brick{background-image:url("icol32/brick.png");}
.icol32-bricks{background-image:url("icol32/bricks.png");}
.icol32-brick-add{background-image:url("icol32/brick_add.png");}
.icol32-brick-delete{background-image:url("icol32/brick_delete.png");}
.icol32-brick-edit{background-image:url("icol32/brick_edit.png");}
.icol32-brick-error{background-image:url("icol32/brick_error.png");}
.icol32-brick-go{background-image:url("icol32/brick_go.png");}
.icol32-brick-link{background-image:url("icol32/brick_link.png");}
.icol32-briefcase{background-image:url("icol32/briefcase.png");}
.icol32-bug{background-image:url("icol32/bug.png");}
.icol32-bug-add{background-image:url("icol32/bug_add.png");}
.icol32-bug-delete{background-image:url("icol32/bug_delete.png");}
.icol32-bug-edit{background-image:url("icol32/bug_edit.png");}
.icol32-bug-error{background-image:url("icol32/bug_error.png");}
.icol32-bug-go{background-image:url("icol32/bug_go.png");}
.icol32-bug-link{background-image:url("icol32/bug_link.png");}
.icol32-building{background-image:url("icol32/building.png");}
.icol32-building-add{background-image:url("icol32/building_add.png");}
.icol32-building-delete{background-image:url("icol32/building_delete.png");}
.icol32-building-edit{background-image:url("icol32/building_edit.png");}
.icol32-building-error{background-image:url("icol32/building_error.png");}
.icol32-building-go{background-image:url("icol32/building_go.png");}
.icol32-building-key{background-image:url("icol32/building_key.png");}
.icol32-building-link{background-image:url("icol32/building_link.png");}
.icol32-bulb{background-image:url("icol32/bulb.png");}
.icol32-bullet-add{background-image:url("icol32/bullet_add.png");}
.icol32-bullet-arrow-bottom{background-image:url("icol32/bullet_arrow_bottom.png");}
.icol32-bullet-arrow-down{background-image:url("icol32/bullet_arrow_down.png");}
.icol32-bullet-arrow-top{background-image:url("icol32/bullet_arrow_top.png");}
.icol32-bullet-arrow-up{background-image:url("icol32/bullet_arrow_up.png");}
.icol32-bullet-black{background-image:url("icol32/bullet_black.png");}
.icol32-bullet-blue{background-image:url("icol32/bullet_blue.png");}
.icol32-bullet-delete{background-image:url("icol32/bullet_delete.png");}
.icol32-bullet-disk{background-image:url("icol32/bullet_disk.png");}
.icol32-bullet-error{background-image:url("icol32/bullet_error.png");}
.icol32-bullet-feed{background-image:url("icol32/bullet_feed.png");}
.icol32-bullet-go{background-image:url("icol32/bullet_go.png");}
.icol32-bullet-green{background-image:url("icol32/bullet_green.png");}
.icol32-bullet-key{background-image:url("icol32/bullet_key.png");}
.icol32-bullet-orange{background-image:url("icol32/bullet_orange.png");}
.icol32-bullet-picture{background-image:url("icol32/bullet_picture.png");}
.icol32-bullet-pink{background-image:url("icol32/bullet_pink.png");}
.icol32-bullet-purple{background-image:url("icol32/bullet_purple.png");}
.icol32-bullet-red{background-image:url("icol32/bullet_red.png");}
.icol32-bullet-star{background-image:url("icol32/bullet_star.png");}
.icol32-bullet-toggle-minus{background-image:url("icol32/bullet_toggle_minus.png");}
.icol32-bullet-toggle-plus{background-image:url("icol32/bullet_toggle_plus.png");}
.icol32-bullet-white{background-image:url("icol32/bullet_white.png");}
.icol32-bullet-wrench{background-image:url("icol32/bullet_wrench.png");}
.icol32-bullet-yellow{background-image:url("icol32/bullet_yellow.png");}
.icol32-butterfly{background-image:url("icol32/butterfly.png");}
.icol32-buzz{background-image:url("icol32/buzz.png");}
.icol32-cake{background-image:url("icol32/cake.png");}
.icol32-calculator{background-image:url("icol32/calculator.png");}
.icol32-calculator-add{background-image:url("icol32/calculator_add.png");}
.icol32-calculator-black{background-image:url("icol32/calculator_black.png");}
.icol32-calculator-delete{background-image:url("icol32/calculator_delete.png");}
.icol32-calculator-edit{background-image:url("icol32/calculator_edit.png");}
.icol32-calculator-error{background-image:url("icol32/calculator_error.png");}
.icol32-calculator-link{background-image:url("icol32/calculator_link.png");}
.icol32-calendar{background-image:url("icol32/calendar.png");}
.icol32-calendar-add{background-image:url("icol32/calendar_add.png");}
.icol32-calendar-delete{background-image:url("icol32/calendar_delete.png");}
.icol32-calendar-edit{background-image:url("icol32/calendar_edit.png");}
.icol32-calendar-link{background-image:url("icol32/calendar_link.png");}
.icol32-calendar-view-day{background-image:url("icol32/calendar_view_day.png");}
.icol32-calendar-view-month{background-image:url("icol32/calendar_view_month.png");}
.icol32-calendar-view-week{background-image:url("icol32/calendar_view_week.png");}
.icol32-camera{background-image:url("icol32/camera.png");}
.icol32-camera-add{background-image:url("icol32/camera_add.png");}
.icol32-camera-delete{background-image:url("icol32/camera_delete.png");}
.icol32-camera-edit{background-image:url("icol32/camera_edit.png");}
.icol32-camera-error{background-image:url("icol32/camera_error.png");}
.icol32-camera-go{background-image:url("icol32/camera_go.png");}
.icol32-camera-link{background-image:url("icol32/camera_link.png");}
.icol32-camera-small{background-image:url("icol32/camera_small.png");}
.icol32-cancel{background-image:url("icol32/cancel.png");}
.icol32-candle{background-image:url("icol32/candle.png");}
.icol32-candy-cane{background-image:url("icol32/candy_cane.png");}
.icol32-canvas-size{background-image:url("icol32/canvas_size.png");}
.icol32-car{background-image:url("icol32/car.png");}
.icol32-cards{background-image:url("icol32/cards.png");}
.icol32-cart{background-image:url("icol32/cart.png");}
.icol32-cart-add{background-image:url("icol32/cart_add.png");}
.icol32-cart-delete{background-image:url("icol32/cart_delete.png");}
.icol32-cart-edit{background-image:url("icol32/cart_edit.png");}
.icol32-cart-error{background-image:url("icol32/cart_error.png");}
.icol32-cart-go{background-image:url("icol32/cart_go.png");}
.icol32-cart-put{background-image:url("icol32/cart_put.png");}
.icol32-cart-remove{background-image:url("icol32/cart_remove.png");}
.icol32-car-add{background-image:url("icol32/car_add.png");}
.icol32-car-delete{background-image:url("icol32/car_delete.png");}
.icol32-cash-register{background-image:url("icol32/cash_register.png");}
.icol32-cat{background-image:url("icol32/cat.png");}
.icol32-cats-display{background-image:url("icol32/cats_display.png");}
.icol32-cd{background-image:url("icol32/cd.png");}
.icol32-cd-add{background-image:url("icol32/cd_add.png");}
.icol32-cd-burn{background-image:url("icol32/cd_burn.png");}
.icol32-cd-delete{background-image:url("icol32/cd_delete.png");}
.icol32-cd-edit{background-image:url("icol32/cd_edit.png");}
.icol32-cd-eject{background-image:url("icol32/cd_eject.png");}
.icol32-cd-go{background-image:url("icol32/cd_go.png");}
.icol32-centroid{background-image:url("icol32/centroid.png");}
.icol32-chair{background-image:url("icol32/chair.png");}
.icol32-chameleon{background-image:url("icol32/chameleon.png");}
.icol32-chart-bar{background-image:url("icol32/chart_bar.png");}
.icol32-chart-bar-add{background-image:url("icol32/chart_bar_add.png");}
.icol32-chart-bar-delete{background-image:url("icol32/chart_bar_delete.png");}
.icol32-chart-bar-edit{background-image:url("icol32/chart_bar_edit.png");}
.icol32-chart-bar-error{background-image:url("icol32/chart_bar_error.png");}
.icol32-chart-bar-link{background-image:url("icol32/chart_bar_link.png");}
.icol32-chart-curve{background-image:url("icol32/chart_curve.png");}
.icol32-chart-curve-add{background-image:url("icol32/chart_curve_add.png");}
.icol32-chart-curve-delete{background-image:url("icol32/chart_curve_delete.png");}
.icol32-chart-curve-edit{background-image:url("icol32/chart_curve_edit.png");}
.icol32-chart-curve-error{background-image:url("icol32/chart_curve_error.png");}
.icol32-chart-curve-go{background-image:url("icol32/chart_curve_go.png");}
.icol32-chart-curve-link{background-image:url("icol32/chart_curve_link.png");}
.icol32-chart-line{background-image:url("icol32/chart_line.png");}
.icol32-chart-line-add{background-image:url("icol32/chart_line_add.png");}
.icol32-chart-line-delete{background-image:url("icol32/chart_line_delete.png");}
.icol32-chart-line-edit{background-image:url("icol32/chart_line_edit.png");}
.icol32-chart-line-error{background-image:url("icol32/chart_line_error.png");}
.icol32-chart-line-link{background-image:url("icol32/chart_line_link.png");}
.icol32-chart-organisation{background-image:url("icol32/chart_organisation.png");}
.icol32-chart-organisation-add{background-image:url("icol32/chart_organisation_add.png");}
.icol32-chart-organisation-delete{background-image:url("icol32/chart_organisation_delete.png");}
.icol32-chart-pie{background-image:url("icol32/chart_pie.png");}
.icol32-chart-pie-add{background-image:url("icol32/chart_pie_add.png");}
.icol32-chart-pie-delete{background-image:url("icol32/chart_pie_delete.png");}
.icol32-chart-pie-edit{background-image:url("icol32/chart_pie_edit.png");}
.icol32-chart-pie-error{background-image:url("icol32/chart_pie_error.png");}
.icol32-chart-pie-link{background-image:url("icol32/chart_pie_link.png");}
.icol32-chess-horse{background-image:url("icol32/chess_horse.png");}
.icol32-chess-tower{background-image:url("icol32/chess_tower.png");}
.icol32-christmas-tree{background-image:url("icol32/christmas_tree.png");}
.icol32-clip-splitter{background-image:url("icol32/clip_splitter.png");}
.icol32-clock-{background-image:url("icol32/clock_.png");}
.icol32-clock-add{background-image:url("icol32/clock_add.png");}
.icol32-clock-delete{background-image:url("icol32/clock_delete.png");}
.icol32-clock-edit{background-image:url("icol32/clock_edit.png");}
.icol32-clock-error{background-image:url("icol32/clock_error.png");}
.icol32-clock-go{background-image:url("icol32/clock_go.png");}
.icol32-clock-link{background-image:url("icol32/clock_link.png");}
.icol32-clock-pause{background-image:url("icol32/clock_pause.png");}
.icol32-clock-play{background-image:url("icol32/clock_play.png");}
.icol32-clock-red{background-image:url("icol32/clock_red.png");}
.icol32-clock-stop{background-image:url("icol32/clock_stop.png");}
.icol32-co2{background-image:url("icol32/co2.png");}
.icol32-cog{background-image:url("icol32/cog.png");}
.icol32-cog-add{background-image:url("icol32/cog_add.png");}
.icol32-cog-delete{background-image:url("icol32/cog_delete.png");}
.icol32-cog-edit{background-image:url("icol32/cog_edit.png");}
.icol32-cog-error{background-image:url("icol32/cog_error.png");}
.icol32-cog-go{background-image:url("icol32/cog_go.png");}
.icol32-coins{background-image:url("icol32/coins.png");}
.icol32-coins-add{background-image:url("icol32/coins_add.png");}
.icol32-coins-delete{background-image:url("icol32/coins_delete.png");}
.icol32-cold{background-image:url("icol32/cold.png");}
.icol32-color-gradient{background-image:url("icol32/color_gradient.png");}
.icol32-color-management{background-image:url("icol32/color_management.png");}
.icol32-color-picker{background-image:url("icol32/color_picker.png");}
.icol32-color-swatch{background-image:url("icol32/color_swatch.png");}
.icol32-color-wheel{background-image:url("icol32/color_wheel.png");}
.icol32-comment{background-image:url("icol32/comment.png");}
.icol32-comments{background-image:url("icol32/comments.png");}
.icol32-comments-add{background-image:url("icol32/comments_add.png");}
.icol32-comments-delete{background-image:url("icol32/comments_delete.png");}
.icol32-comment-add{background-image:url("icol32/comment_add.png");}
.icol32-comment-delete{background-image:url("icol32/comment_delete.png");}
.icol32-comment-edit{background-image:url("icol32/comment_edit.png");}
.icol32-compass{background-image:url("icol32/compass.png");}
.icol32-compress{background-image:url("icol32/compress.png");}
.icol32-computer{background-image:url("icol32/computer.png");}
.icol32-computer-add{background-image:url("icol32/computer_add.png");}
.icol32-computer-delete{background-image:url("icol32/computer_delete.png");}
.icol32-computer-edit{background-image:url("icol32/computer_edit.png");}
.icol32-computer-error{background-image:url("icol32/computer_error.png");}
.icol32-computer-go{background-image:url("icol32/computer_go.png");}
.icol32-computer-key{background-image:url("icol32/computer_key.png");}
.icol32-computer-link{background-image:url("icol32/computer_link.png");}
.icol32-connect{background-image:url("icol32/connect.png");}
.icol32-construction{background-image:url("icol32/construction.png");}
.icol32-contact-email{background-image:url("icol32/contact_email.png");}
.icol32-contrast{background-image:url("icol32/contrast.png");}
.icol32-contrast-decrease{background-image:url("icol32/contrast_decrease.png");}
.icol32-contrast-high{background-image:url("icol32/contrast_high.png");}
.icol32-contrast-increase{background-image:url("icol32/contrast_increase.png");}
.icol32-contrast-low{background-image:url("icol32/contrast_low.png");}
.icol32-controller{background-image:url("icol32/controller.png");}
.icol32-controller-add{background-image:url("icol32/controller_add.png");}
.icol32-controller-delete{background-image:url("icol32/controller_delete.png");}
.icol32-controller-error{background-image:url("icol32/controller_error.png");}
.icol32-control-eject{background-image:url("icol32/control_eject.png");}
.icol32-control-eject-blue{background-image:url("icol32/control_eject_blue.png");}
.icol32-control-end{background-image:url("icol32/control_end.png");}
.icol32-control-end-blue{background-image:url("icol32/control_end_blue.png");}
.icol32-control-equalizer{background-image:url("icol32/control_equalizer.png");}
.icol32-control-equalizer-blue{background-image:url("icol32/control_equalizer_blue.png");}
.icol32-control-fastforward{background-image:url("icol32/control_fastforward.png");}
.icol32-control-fastforward-blue{background-image:url("icol32/control_fastforward_blue.png");}
.icol32-control-pause{background-image:url("icol32/control_pause.png");}
.icol32-control-pause-blue{background-image:url("icol32/control_pause_blue.png");}
.icol32-control-play{background-image:url("icol32/control_play.png");}
.icol32-control-play-blue{background-image:url("icol32/control_play_blue.png");}
.icol32-control-repeat{background-image:url("icol32/control_repeat.png");}
.icol32-control-repeat-blue{background-image:url("icol32/control_repeat_blue.png");}
.icol32-control-rewind{background-image:url("icol32/control_rewind.png");}
.icol32-control-rewind-blue{background-image:url("icol32/control_rewind_blue.png");}
.icol32-control-start{background-image:url("icol32/control_start.png");}
.icol32-control-start-blue{background-image:url("icol32/control_start_blue.png");}
.icol32-control-stop{background-image:url("icol32/control_stop.png");}
.icol32-control-stop-blue{background-image:url("icol32/control_stop_blue.png");}
.icol32-convert-color-to-gray{background-image:url("icol32/convert_color_to_gray.png");}
.icol32-convert-gray-to-color{background-image:url("icol32/convert_gray_to_color.png");}
.icol32-copying-and-distribution{background-image:url("icol32/copying_and_distribution.png");}
.icol32-copyleft{background-image:url("icol32/copyleft.png");}
.icol32-creditcards{background-image:url("icol32/creditcards.png");}
.icol32-cricket{background-image:url("icol32/cricket.png");}
.icol32-cross{background-image:url("icol32/cross.png");}
.icol32-cross-promotion-selling{background-image:url("icol32/cross_promotion_selling.png");}
.icol32-css{background-image:url("icol32/css.png");}
.icol32-css-add{background-image:url("icol32/css_add.png");}
.icol32-css-delete{background-image:url("icol32/css_delete.png");}
.icol32-css-go{background-image:url("icol32/css_go.png");}
.icol32-css-valid{background-image:url("icol32/css_valid.png");}
.icol32-cup{background-image:url("icol32/cup.png");}
.icol32-cup-add{background-image:url("icol32/cup_add.png");}
.icol32-cup-delete{background-image:url("icol32/cup_delete.png");}
.icol32-cup-edit{background-image:url("icol32/cup_edit.png");}
.icol32-cup-error{background-image:url("icol32/cup_error.png");}
.icol32-cup-go{background-image:url("icol32/cup_go.png");}
.icol32-cup-key{background-image:url("icol32/cup_key.png");}
.icol32-cup-link{background-image:url("icol32/cup_link.png");}
.icol32-cursor{background-image:url("icol32/cursor.png");}
.icol32-cut{background-image:url("icol32/cut.png");}
.icol32-cut-red{background-image:url("icol32/cut_red.png");}
.icol32-database{background-image:url("icol32/database.png");}
.icol32-database-add{background-image:url("icol32/database_add.png");}
.icol32-database-connect{background-image:url("icol32/database_connect.png");}
.icol32-database-delete{background-image:url("icol32/database_delete.png");}
.icol32-database-edit{background-image:url("icol32/database_edit.png");}
.icol32-database-error{background-image:url("icol32/database_error.png");}
.icol32-database-gear{background-image:url("icol32/database_gear.png");}
.icol32-database-go{background-image:url("icol32/database_go.png");}
.icol32-database-key{background-image:url("icol32/database_key.png");}
.icol32-database-lightning{background-image:url("icol32/database_lightning.png");}
.icol32-database-link{background-image:url("icol32/database_link.png");}
.icol32-database-refresh{background-image:url("icol32/database_refresh.png");}
.icol32-database-save{background-image:url("icol32/database_save.png");}
.icol32-database-table{background-image:url("icol32/database_table.png");}
.icol32-date{background-image:url("icol32/date.png");}
.icol32-date-add{background-image:url("icol32/date_add.png");}
.icol32-date-delete{background-image:url("icol32/date_delete.png");}
.icol32-date-edit{background-image:url("icol32/date_edit.png");}
.icol32-date-error{background-image:url("icol32/date_error.png");}
.icol32-date-go{background-image:url("icol32/date_go.png");}
.icol32-date-link{background-image:url("icol32/date_link.png");}
.icol32-date-magnify{background-image:url("icol32/date_magnify.png");}
.icol32-date-next{background-image:url("icol32/date_next.png");}
.icol32-date-previous{background-image:url("icol32/date_previous.png");}
.icol32-ddr-memory{background-image:url("icol32/ddr_memory.png");}
.icol32-delete{background-image:url("icol32/delete.png");}
.icol32-derivatives{background-image:url("icol32/derivatives.png");}
.icol32-dialog{background-image:url("icol32/dialog.png");}
.icol32-dice{background-image:url("icol32/dice.png");}
.icol32-directory-listing{background-image:url("icol32/directory_listing.png");}
.icol32-disconnect{background-image:url("icol32/disconnect.png");}
.icol32-disk{background-image:url("icol32/disk.png");}
.icol32-disk-multiple{background-image:url("icol32/disk_multiple.png");}
.icol32-distribution-partnerships{background-image:url("icol32/distribution_partnerships.png");}
.icol32-document-check-compatibility{background-image:url("icol32/document_check_compatibility.png");}
.icol32-document-info{background-image:url("icol32/document_info.png");}
.icol32-document-inspector{background-image:url("icol32/document_inspector.png");}
.icol32-document-mark-as-final{background-image:url("icol32/document_mark_as_final.png");}
.icol32-document-prepare{background-image:url("icol32/document_prepare.png");}
.icol32-document-properties{background-image:url("icol32/document_properties.png");}
.icol32-document-quote{background-image:url("icol32/document_quote.png");}
.icol32-document-signature{background-image:url("icol32/document_signature.png");}
.icol32-dog{background-image:url("icol32/dog.png");}
.icol32-door{background-image:url("icol32/door.png");}
.icol32-door-in{background-image:url("icol32/door_in.png");}
.icol32-door-open{background-image:url("icol32/door_open.png");}
.icol32-door-out{background-image:url("icol32/door_out.png");}
.icol32-draw-airbrush{background-image:url("icol32/draw_airbrush.png");}
.icol32-draw-calligraphic{background-image:url("icol32/draw_calligraphic.png");}
.icol32-draw-clone{background-image:url("icol32/draw_clone.png");}
.icol32-draw-convolve{background-image:url("icol32/draw_convolve.png");}
.icol32-draw-dodge-burn{background-image:url("icol32/draw_dodge_burn.png");}
.icol32-draw-ellipse{background-image:url("icol32/draw_ellipse.png");}
.icol32-draw-eraser{background-image:url("icol32/draw_eraser.png");}
.icol32-draw-ink{background-image:url("icol32/draw_ink.png");}
.icol32-draw-island{background-image:url("icol32/draw_island.png");}
.icol32-draw-line{background-image:url("icol32/draw_line.png");}
.icol32-draw-path{background-image:url("icol32/draw_path.png");}
.icol32-draw-points{background-image:url("icol32/draw_points.png");}
.icol32-draw-polygon{background-image:url("icol32/draw_polygon.png");}
.icol32-draw-polygon-curves{background-image:url("icol32/draw_polygon_curves.png");}
.icol32-draw-polyline{background-image:url("icol32/draw_polyline.png");}
.icol32-draw-ring{background-image:url("icol32/draw_ring.png");}
.icol32-draw-smudge{background-image:url("icol32/draw_smudge.png");}
.icol32-draw-spiral{background-image:url("icol32/draw_spiral.png");}
.icol32-draw-star{background-image:url("icol32/draw_star.png");}
.icol32-draw-vertex{background-image:url("icol32/draw_vertex.png");}
.icol32-draw-wave{background-image:url("icol32/draw_wave.png");}
.icol32-drink{background-image:url("icol32/drink.png");}
.icol32-drink-empty{background-image:url("icol32/drink_empty.png");}
.icol32-drive{background-image:url("icol32/drive.png");}
.icol32-drive-add{background-image:url("icol32/drive_add.png");}
.icol32-drive-burn{background-image:url("icol32/drive_burn.png");}
.icol32-drive-cd{background-image:url("icol32/drive_cd.png");}
.icol32-drive-cd-empty{background-image:url("icol32/drive_cd_empty.png");}
.icol32-drive-delete{background-image:url("icol32/drive_delete.png");}
.icol32-drive-disk{background-image:url("icol32/drive_disk.png");}
.icol32-drive-edit{background-image:url("icol32/drive_edit.png");}
.icol32-drive-error{background-image:url("icol32/drive_error.png");}
.icol32-drive-go{background-image:url("icol32/drive_go.png");}
.icol32-drive-key{background-image:url("icol32/drive_key.png");}
.icol32-drive-link{background-image:url("icol32/drive_link.png");}
.icol32-drive-magnify{background-image:url("icol32/drive_magnify.png");}
.icol32-drive-network{background-image:url("icol32/drive_network.png");}
.icol32-drive-rename{background-image:url("icol32/drive_rename.png");}
.icol32-drive-user{background-image:url("icol32/drive_user.png");}
.icol32-drive-web{background-image:url("icol32/drive_web.png");}
.icol32-drugs-com{background-image:url("icol32/drugs_com.png");}
.icol32-drum{background-image:url("icol32/drum.png");}
.icol32-dvd{background-image:url("icol32/dvd.png");}
.icol32-dvd-add{background-image:url("icol32/dvd_add.png");}
.icol32-dvd-delete{background-image:url("icol32/dvd_delete.png");}
.icol32-dvd-edit{background-image:url("icol32/dvd_edit.png");}
.icol32-dvd-error{background-image:url("icol32/dvd_error.png");}
.icol32-dvd-go{background-image:url("icol32/dvd_go.png");}
.icol32-dvd-key{background-image:url("icol32/dvd_key.png");}
.icol32-dvd-link{background-image:url("icol32/dvd_link.png");}
.icol32-dynamite{background-image:url("icol32/dynamite.png");}
.icol32-ebay{background-image:url("icol32/ebay.png");}
.icol32-edit-chain{background-image:url("icol32/edit_chain.png");}
.icol32-edit-free{background-image:url("icol32/edit_free.png");}
.icol32-edit-path{background-image:url("icol32/edit_path.png");}
.icol32-education{background-image:url("icol32/education.png");}
.icol32-ehow{background-image:url("icol32/ehow.png");}
.icol32-elements{background-image:url("icol32/elements.png");}
.icol32-email{background-image:url("icol32/email.png");}
.icol32-email-add{background-image:url("icol32/email_add.png");}
.icol32-email-attach{background-image:url("icol32/email_attach.png");}
.icol32-email-delete{background-image:url("icol32/email_delete.png");}
.icol32-email-edit{background-image:url("icol32/email_edit.png");}
.icol32-email-error{background-image:url("icol32/email_error.png");}
.icol32-email-go{background-image:url("icol32/email_go.png");}
.icol32-email-link{background-image:url("icol32/email_link.png");}
.icol32-email-open{background-image:url("icol32/email_open.png");}
.icol32-email-open-image{background-image:url("icol32/email_open_image.png");}
.icol32-email-to-friend{background-image:url("icol32/email_to_friend.png");}
.icol32-emotion-evilgrin{background-image:url("icol32/emotion_evilgrin.png");}
.icol32-emotion-grin{background-image:url("icol32/emotion_grin.png");}
.icol32-emotion-happy{background-image:url("icol32/emotion_happy.png");}
.icol32-emotion-smile{background-image:url("icol32/emotion_smile.png");}
.icol32-emotion-suprised{background-image:url("icol32/emotion_suprised.png");}
.icol32-emotion-tongue{background-image:url("icol32/emotion_tongue.png");}
.icol32-emotion-unhappy{background-image:url("icol32/emotion_unhappy.png");}
.icol32-emotion-waii{background-image:url("icol32/emotion_waii.png");}
.icol32-emotion-wink{background-image:url("icol32/emotion_wink.png");}
.icol32-error{background-image:url("icol32/error.png");}
.icol32-error-add{background-image:url("icol32/error_add.png");}
.icol32-error-delete{background-image:url("icol32/error_delete.png");}
.icol32-error-go{background-image:url("icol32/error_go.png");}
.icol32-events{background-image:url("icol32/events.png");}
.icol32-exclamation{background-image:url("icol32/exclamation.png");}
.icol32-extract-foreground-objects{background-image:url("icol32/extract_foreground_objects.png");}
.icol32-eye{background-image:url("icol32/eye.png");}
.icol32-fax{background-image:url("icol32/fax.png");}
.icol32-feed{background-image:url("icol32/feed.png");}
.icol32-feed-add{background-image:url("icol32/feed_add.png");}
.icol32-feed-delete{background-image:url("icol32/feed_delete.png");}
.icol32-feed-disk{background-image:url("icol32/feed_disk.png");}
.icol32-feed-edit{background-image:url("icol32/feed_edit.png");}
.icol32-feed-error{background-image:url("icol32/feed_error.png");}
.icol32-feed-go{background-image:url("icol32/feed_go.png");}
.icol32-feed-key{background-image:url("icol32/feed_key.png");}
.icol32-feed-magnify{background-image:url("icol32/feed_magnify.png");}
.icol32-female{background-image:url("icol32/female.png");}
.icol32-file-manager{background-image:url("icol32/file_manager.png");}
.icol32-film{background-image:url("icol32/film.png");}
.icol32-film-add{background-image:url("icol32/film_add.png");}
.icol32-film-delete{background-image:url("icol32/film_delete.png");}
.icol32-film-edit{background-image:url("icol32/film_edit.png");}
.icol32-film-error{background-image:url("icol32/film_error.png");}
.icol32-film-go{background-image:url("icol32/film_go.png");}
.icol32-film-key{background-image:url("icol32/film_key.png");}
.icol32-film-link{background-image:url("icol32/film_link.png");}
.icol32-film-save{background-image:url("icol32/film_save.png");}
.icol32-filter{background-image:url("icol32/filter.png");}
.icol32-filter-add{background-image:url("icol32/filter_add.png");}
.icol32-filter-delete{background-image:url("icol32/filter_delete.png");}
.icol32-finance{background-image:url("icol32/finance.png");}
.icol32-find{background-image:url("icol32/find.png");}
.icol32-firefox{background-image:url("icol32/firefox.png");}
.icol32-firewall-burn{background-image:url("icol32/firewall_burn.png");}
.icol32-fire-extinguisher{background-image:url("icol32/fire_extinguisher.png");}
.icol32-flag-1{background-image:url("icol32/flag_1.png");}
.icol32-flag-2{background-image:url("icol32/flag_2.png");}
.icol32-flag-3{background-image:url("icol32/flag_3.png");}
.icol32-flag-blue{background-image:url("icol32/flag_blue.png");}
.icol32-flag-finish{background-image:url("icol32/flag_finish.png");}
.icol32-flag-green{background-image:url("icol32/flag_green.png");}
.icol32-flag-orange{background-image:url("icol32/flag_orange.png");}
.icol32-flag-pink{background-image:url("icol32/flag_pink.png");}
.icol32-flag-purple{background-image:url("icol32/flag_purple.png");}
.icol32-flag-red{background-image:url("icol32/flag_red.png");}
.icol32-flag-yellow{background-image:url("icol32/flag_yellow.png");}
.icol32-flamingo{background-image:url("icol32/flamingo.png");}
.icol32-flashdisk{background-image:url("icol32/flashdisk.png");}
.icol32-flickr{background-image:url("icol32/flickr.png");}
.icol32-flood-it{background-image:url("icol32/flood_it.png");}
.icol32-flower{background-image:url("icol32/flower.png");}
.icol32-fog{background-image:url("icol32/fog.png");}
.icol32-folder{background-image:url("icol32/folder.png");}
.icol32-folders{background-image:url("icol32/folders.png");}
.icol32-folders-explorer{background-image:url("icol32/folders_explorer.png");}
.icol32-folder-add{background-image:url("icol32/folder_add.png");}
.icol32-folder-bell{background-image:url("icol32/folder_bell.png");}
.icol32-folder-brick{background-image:url("icol32/folder_brick.png");}
.icol32-folder-bug{background-image:url("icol32/folder_bug.png");}
.icol32-folder-camera{background-image:url("icol32/folder_camera.png");}
.icol32-folder-database{background-image:url("icol32/folder_database.png");}
.icol32-folder-delete{background-image:url("icol32/folder_delete.png");}
.icol32-folder-edit{background-image:url("icol32/folder_edit.png");}
.icol32-folder-error{background-image:url("icol32/folder_error.png");}
.icol32-folder-explore{background-image:url("icol32/folder_explore.png");}
.icol32-folder-feed{background-image:url("icol32/folder_feed.png");}
.icol32-folder-find{background-image:url("icol32/folder_find.png");}
.icol32-folder-go{background-image:url("icol32/folder_go.png");}
.icol32-folder-heart{background-image:url("icol32/folder_heart.png");}
.icol32-folder-image{background-image:url("icol32/folder_image.png");}
.icol32-folder-key{background-image:url("icol32/folder_key.png");}
.icol32-folder-lightbulb{background-image:url("icol32/folder_lightbulb.png");}
.icol32-folder-link{background-image:url("icol32/folder_link.png");}
.icol32-folder-page{background-image:url("icol32/folder_page.png");}
.icol32-folder-page-white{background-image:url("icol32/folder_page_white.png");}
.icol32-folder-palette{background-image:url("icol32/folder_palette.png");}
.icol32-folder-picture{background-image:url("icol32/folder_picture.png");}
.icol32-folder-star{background-image:url("icol32/folder_star.png");}
.icol32-folder-table{background-image:url("icol32/folder_table.png");}
.icol32-folder-user{background-image:url("icol32/folder_user.png");}
.icol32-folder-wrench{background-image:url("icol32/folder_wrench.png");}
.icol32-font{background-image:url("icol32/font.png");}
.icol32-font-add{background-image:url("icol32/font_add.png");}
.icol32-font-delete{background-image:url("icol32/font_delete.png");}
.icol32-font-go{background-image:url("icol32/font_go.png");}
.icol32-ftp{background-image:url("icol32/ftp.png");}
.icol32-gas{background-image:url("icol32/gas.png");}
.icol32-gcp{background-image:url("icol32/gcp.png");}
.icol32-gcp-rms{background-image:url("icol32/gcp_rms.png");}
.icol32-georectify{background-image:url("icol32/georectify.png");}
.icol32-gift-add{background-image:url("icol32/gift_add.png");}
.icol32-global-telecom{background-image:url("icol32/global_telecom.png");}
.icol32-google{background-image:url("icol32/google.png");}
.icol32-google-map{background-image:url("icol32/google_map.png");}
.icol32-google-new{background-image:url("icol32/google_new.png");}
.icol32-green{background-image:url("icol32/green.png");}
.icol32-group{background-image:url("icol32/group.png");}
.icol32-group-add{background-image:url("icol32/group_add.png");}
.icol32-group-delete{background-image:url("icol32/group_delete.png");}
.icol32-group-edit{background-image:url("icol32/group_edit.png");}
.icol32-group-error{background-image:url("icol32/group_error.png");}
.icol32-group-gear{background-image:url("icol32/group_gear.png");}
.icol32-group-go{background-image:url("icol32/group_go.png");}
.icol32-group-key{background-image:url("icol32/group_key.png");}
.icol32-group-link{background-image:url("icol32/group_link.png");}
.icol32-hammer{background-image:url("icol32/hammer.png");}
.icol32-handbag{background-image:url("icol32/handbag.png");}
.icol32-hardware-building-oem{background-image:url("icol32/hardware_building_oem.png");}
.icol32-hat{background-image:url("icol32/hat.png");}
.icol32-hd-1080{background-image:url("icol32/hd_1080.png");}
.icol32-hd-720{background-image:url("icol32/hd_720.png");}
.icol32-hd-ready{background-image:url("icol32/hd_ready.png");}
.icol32-headphone{background-image:url("icol32/headphone.png");}
.icol32-headphone-mic{background-image:url("icol32/headphone_mic.png");}
.icol32-health{background-image:url("icol32/health.png");}
.icol32-heart{background-image:url("icol32/heart.png");}
.icol32-heart-add{background-image:url("icol32/heart_add.png");}
.icol32-heart-delete{background-image:url("icol32/heart_delete.png");}
.icol32-help{background-image:url("icol32/help.png");}
.icol32-holly{background-image:url("icol32/holly.png");}
.icol32-horoscopes{background-image:url("icol32/horoscopes.png");}
.icol32-hot{background-image:url("icol32/hot.png");}
.icol32-hotjobs{background-image:url("icol32/hotjobs.png");}
.icol32-hourglass{background-image:url("icol32/hourglass.png");}
.icol32-hourglass-add{background-image:url("icol32/hourglass_add.png");}
.icol32-hourglass-delete{background-image:url("icol32/hourglass_delete.png");}
.icol32-hourglass-go{background-image:url("icol32/hourglass_go.png");}
.icol32-hourglass-link{background-image:url("icol32/hourglass_link.png");}
.icol32-house{background-image:url("icol32/house.png");}
.icol32-house-go{background-image:url("icol32/house_go.png");}
.icol32-house-link{background-image:url("icol32/house_link.png");}
.icol32-html{background-image:url("icol32/html.png");}
.icol32-html-add{background-image:url("icol32/html_add.png");}
.icol32-html-delete{background-image:url("icol32/html_delete.png");}
.icol32-html-go{background-image:url("icol32/html_go.png");}
.icol32-html-valid{background-image:url("icol32/html_valid.png");}
.icol32-hummingbird{background-image:url("icol32/hummingbird.png");}
.icol32-icecream{background-image:url("icol32/icecream.png");}
.icol32-image{background-image:url("icol32/image.png");}
.icol32-images{background-image:url("icol32/images.png");}
.icol32-image-add{background-image:url("icol32/image_add.png");}
.icol32-image-delete{background-image:url("icol32/image_delete.png");}
.icol32-image-edit{background-image:url("icol32/image_edit.png");}
.icol32-image-link{background-image:url("icol32/image_link.png");}
.icol32-information{background-image:url("icol32/information.png");}
.icol32-installer-box{background-image:url("icol32/installer_box.png");}
.icol32-internet-explorer{background-image:url("icol32/internet_explorer.png");}
.icol32-iphone{background-image:url("icol32/iphone.png");}
.icol32-ipod{background-image:url("icol32/ipod.png");}
.icol32-ipod-cast{background-image:url("icol32/ipod_cast.png");}
.icol32-ipod-cast-add{background-image:url("icol32/ipod_cast_add.png");}
.icol32-ipod-cast-delete{background-image:url("icol32/ipod_cast_delete.png");}
.icol32-ipod-sound{background-image:url("icol32/ipod_sound.png");}
.icol32-ip-block{background-image:url("icol32/ip_block.png");}
.icol32-joystick{background-image:url("icol32/joystick.png");}
.icol32-joystick-add{background-image:url("icol32/joystick_add.png");}
.icol32-joystick-delete{background-image:url("icol32/joystick_delete.png");}
.icol32-joystick-error{background-image:url("icol32/joystick_error.png");}
.icol32-key{background-image:url("icol32/key.png");}
.icol32-keyboard{background-image:url("icol32/keyboard.png");}
.icol32-keyboard-add{background-image:url("icol32/keyboard_add.png");}
.icol32-keyboard-delete{background-image:url("icol32/keyboard_delete.png");}
.icol32-keyboard-magnify{background-image:url("icol32/keyboard_magnify.png");}
.icol32-key-add{background-image:url("icol32/key_add.png");}
.icol32-key-delete{background-image:url("icol32/key_delete.png");}
.icol32-key-go{background-image:url("icol32/key_go.png");}
.icol32-kids{background-image:url("icol32/kids.png");}
.icol32-landmarks{background-image:url("icol32/landmarks.png");}
.icol32-laptop{background-image:url("icol32/laptop.png");}
.icol32-large-tiles{background-image:url("icol32/large_tiles.png");}
.icol32-layer{background-image:url("icol32/layer.png");}
.icol32-layers{background-image:url("icol32/layers.png");}
.icol32-layers-map{background-image:url("icol32/layers_map.png");}
.icol32-layer-add{background-image:url("icol32/layer_add.png");}
.icol32-layer-aspect-arrow{background-image:url("icol32/layer_aspect_arrow.png");}
.icol32-layer-cell-cats{background-image:url("icol32/layer_cell_cats.png");}
.icol32-layer-chart{background-image:url("icol32/layer_chart.png");}
.icol32-layer-command{background-image:url("icol32/layer_command.png");}
.icol32-layer-create{background-image:url("icol32/layer_create.png");}
.icol32-layer-database{background-image:url("icol32/layer_database.png");}
.icol32-layer-delete{background-image:url("icol32/layer_delete.png");}
.icol32-layer-edit{background-image:url("icol32/layer_edit.png");}
.icol32-layer-export{background-image:url("icol32/layer_export.png");}
.icol32-layer-gps{background-image:url("icol32/layer_gps.png");}
.icol32-layer-grid{background-image:url("icol32/layer_grid.png");}
.icol32-layer-group{background-image:url("icol32/layer_group.png");}
.icol32-layer-his{background-image:url("icol32/layer_his.png");}
.icol32-layer-histogram{background-image:url("icol32/layer_histogram.png");}
.icol32-layer-import{background-image:url("icol32/layer_import.png");}
.icol32-layer-label{background-image:url("icol32/layer_label.png");}
.icol32-layer-open{background-image:url("icol32/layer_open.png");}
.icol32-layer-raster{background-image:url("icol32/layer_raster.png");}
.icol32-layer-raster-3d{background-image:url("icol32/layer_raster_3d.png");}
.icol32-layer-redraw{background-image:url("icol32/layer_redraw.png");}
.icol32-layer-remove{background-image:url("icol32/layer_remove.png");}
.icol32-layer-rgb{background-image:url("icol32/layer_rgb.png");}
.icol32-layer-save{background-image:url("icol32/layer_save.png");}
.icol32-layer-shaded-relief{background-image:url("icol32/layer_shaded_relief.png");}
.icol32-layer-to-image-size{background-image:url("icol32/layer_to_image_size.png");}
.icol32-layer-vector{background-image:url("icol32/layer_vector.png");}
.icol32-layer-wms{background-image:url("icol32/layer_wms.png");}
.icol32-layout{background-image:url("icol32/layout.png");}
.icol32-layout-add{background-image:url("icol32/layout_add.png");}
.icol32-layout-content{background-image:url("icol32/layout_content.png");}
.icol32-layout-delete{background-image:url("icol32/layout_delete.png");}
.icol32-layout-edit{background-image:url("icol32/layout_edit.png");}
.icol32-layout-error{background-image:url("icol32/layout_error.png");}
.icol32-layout-header{background-image:url("icol32/layout_header.png");}
.icol32-layout-link{background-image:url("icol32/layout_link.png");}
.icol32-layout-sidebar{background-image:url("icol32/layout_sidebar.png");}
.icol32-lightbulb{background-image:url("icol32/lightbulb.png");}
.icol32-lightbulb-add{background-image:url("icol32/lightbulb_add.png");}
.icol32-lightbulb-delete{background-image:url("icol32/lightbulb_delete.png");}
.icol32-lightbulb-off{background-image:url("icol32/lightbulb_off.png");}
.icol32-lightning{background-image:url("icol32/lightning.png");}
.icol32-lightning-add{background-image:url("icol32/lightning_add.png");}
.icol32-lightning-delete{background-image:url("icol32/lightning_delete.png");}
.icol32-lightning-go{background-image:url("icol32/lightning_go.png");}
.icol32-light-circle-green{background-image:url("icol32/light_circle_green.png");}
.icol32-line-split{background-image:url("icol32/line_split.png");}
.icol32-link{background-image:url("icol32/link.png");}
.icol32-link-add{background-image:url("icol32/link_add.png");}
.icol32-link-break{background-image:url("icol32/link_break.png");}
.icol32-link-delete{background-image:url("icol32/link_delete.png");}
.icol32-link-edit{background-image:url("icol32/link_edit.png");}
.icol32-link-go{background-image:url("icol32/link_go.png");}
.icol32-location-pin{background-image:url("icol32/location_pin.png");}
.icol32-lock{background-image:url("icol32/lock.png");}
.icol32-lock-add{background-image:url("icol32/lock_add.png");}
.icol32-lock-break{background-image:url("icol32/lock_break.png");}
.icol32-lock-delete{background-image:url("icol32/lock_delete.png");}
.icol32-lock-edit{background-image:url("icol32/lock_edit.png");}
.icol32-lock-go{background-image:url("icol32/lock_go.png");}
.icol32-lock-open{background-image:url("icol32/lock_open.png");}
.icol32-lollipop{background-image:url("icol32/lollipop.png");}
.icol32-lorry{background-image:url("icol32/lorry.png");}
.icol32-lorry-add{background-image:url("icol32/lorry_add.png");}
.icol32-lorry-delete{background-image:url("icol32/lorry_delete.png");}
.icol32-lorry-error{background-image:url("icol32/lorry_error.png");}
.icol32-lorry-flatbed{background-image:url("icol32/lorry_flatbed.png");}
.icol32-lorry-go{background-image:url("icol32/lorry_go.png");}
.icol32-lorry-link{background-image:url("icol32/lorry_link.png");}
.icol32-magnifier{background-image:url("icol32/magnifier.png");}
.icol32-magnifier-zoom-in{background-image:url("icol32/magnifier_zoom_in.png");}
.icol32-magnifier-zoom-out{background-image:url("icol32/magnifier_zoom_out.png");}
.icol32-mail-box{background-image:url("icol32/mail_box.png");}
.icol32-male{background-image:url("icol32/male.png");}
.icol32-map{background-image:url("icol32/map.png");}
.icol32-map-add{background-image:url("icol32/map_add.png");}
.icol32-map-delete{background-image:url("icol32/map_delete.png");}
.icol32-map-edit{background-image:url("icol32/map_edit.png");}
.icol32-map-go{background-image:url("icol32/map_go.png");}
.icol32-map-magnify{background-image:url("icol32/map_magnify.png");}
.icol32-marketwatch{background-image:url("icol32/marketwatch.png");}
.icol32-measure{background-image:url("icol32/measure.png");}
.icol32-medal-bronze-1{background-image:url("icol32/medal_bronze_1.png");}
.icol32-medal-bronze-2{background-image:url("icol32/medal_bronze_2.png");}
.icol32-medal-bronze-3{background-image:url("icol32/medal_bronze_3.png");}
.icol32-medal-bronze-add{background-image:url("icol32/medal_bronze_add.png");}
.icol32-medal-bronze-delete{background-image:url("icol32/medal_bronze_delete.png");}
.icol32-medal-gold-1{background-image:url("icol32/medal_gold_1.png");}
.icol32-medal-gold-2{background-image:url("icol32/medal_gold_2.png");}
.icol32-medal-gold-3{background-image:url("icol32/medal_gold_3.png");}
.icol32-medal-gold-add{background-image:url("icol32/medal_gold_add.png");}
.icol32-medal-gold-delete{background-image:url("icol32/medal_gold_delete.png");}
.icol32-medal-silver-1{background-image:url("icol32/medal_silver_1.png");}
.icol32-medal-silver-2{background-image:url("icol32/medal_silver_2.png");}
.icol32-medal-silver-3{background-image:url("icol32/medal_silver_3.png");}
.icol32-medal-silver-add{background-image:url("icol32/medal_silver_add.png");}
.icol32-medal-silver-delete{background-image:url("icol32/medal_silver_delete.png");}
.icol32-messenger{background-image:url("icol32/messenger.png");}
.icol32-metro{background-image:url("icol32/metro.png");}
.icol32-microphone{background-image:url("icol32/microphone.png");}
.icol32-micro-sd{background-image:url("icol32/micro_sd.png");}
.icol32-micro-sd-blue{background-image:url("icol32/micro_sd_blue.png");}
.icol32-money{background-image:url("icol32/money.png");}
.icol32-money-add{background-image:url("icol32/money_add.png");}
.icol32-money-bag{background-image:url("icol32/money_bag.png");}
.icol32-money-delete{background-image:url("icol32/money_delete.png");}
.icol32-money-dollar{background-image:url("icol32/money_dollar.png");}
.icol32-money-euro{background-image:url("icol32/money_euro.png");}
.icol32-money-pound{background-image:url("icol32/money_pound.png");}
.icol32-money-yen{background-image:url("icol32/money_yen.png");}
.icol32-monitor{background-image:url("icol32/monitor.png");}
.icol32-monitor-add{background-image:url("icol32/monitor_add.png");}
.icol32-monitor-delete{background-image:url("icol32/monitor_delete.png");}
.icol32-monitor-edit{background-image:url("icol32/monitor_edit.png");}
.icol32-monitor-error{background-image:url("icol32/monitor_error.png");}
.icol32-monitor-go{background-image:url("icol32/monitor_go.png");}
.icol32-monitor-lightning{background-image:url("icol32/monitor_lightning.png");}
.icol32-monitor-link{background-image:url("icol32/monitor_link.png");}
.icol32-motherboard{background-image:url("icol32/motherboard.png");}
.icol32-mouse{background-image:url("icol32/mouse.png");}
.icol32-mouse-add{background-image:url("icol32/mouse_add.png");}
.icol32-mouse-delete{background-image:url("icol32/mouse_delete.png");}
.icol32-mouse-error{background-image:url("icol32/mouse_error.png");}
.icol32-move-to-folder{background-image:url("icol32/move_to_folder.png");}
.icol32-movies{background-image:url("icol32/movies.png");}
.icol32-ms-exchange{background-image:url("icol32/ms_exchange.png");}
.icol32-ms-frontpage{background-image:url("icol32/ms_frontpage.png");}
.icol32-multitool{background-image:url("icol32/multitool.png");}
.icol32-music{background-image:url("icol32/music.png");}
.icol32-nameboard-open{background-image:url("icol32/nameboard_open.png");}
.icol32-network-adapter{background-image:url("icol32/network_adapter.png");}
.icol32-network-folder{background-image:url("icol32/network_folder.png");}
.icol32-new{background-image:url("icol32/new.png");}
.icol32-newspaper{background-image:url("icol32/newspaper.png");}
.icol32-newspaper-add{background-image:url("icol32/newspaper_add.png");}
.icol32-newspaper-delete{background-image:url("icol32/newspaper_delete.png");}
.icol32-newspaper-go{background-image:url("icol32/newspaper_go.png");}
.icol32-newspaper-link{background-image:url("icol32/newspaper_link.png");}
.icol32-nokia-s60{background-image:url("icol32/nokia_s60.png");}
.icol32-non-derivative{background-image:url("icol32/non_derivative.png");}
.icol32-note{background-image:url("icol32/note.png");}
.icol32-note-add{background-image:url("icol32/note_add.png");}
.icol32-note-delete{background-image:url("icol32/note_delete.png");}
.icol32-note-edit{background-image:url("icol32/note_edit.png");}
.icol32-note-error{background-image:url("icol32/note_error.png");}
.icol32-note-go{background-image:url("icol32/note_go.png");}
.icol32-no-commercial{background-image:url("icol32/no_commercial.png");}
.icol32-no-drm-trm{background-image:url("icol32/no_drm_trm.png");}
.icol32-no-image{background-image:url("icol32/no_image.png");}
.icol32-no-requirements{background-image:url("icol32/no_requirements.png");}
.icol32-opera{background-image:url("icol32/opera.png");}
.icol32-orbit{background-image:url("icol32/orbit.png");}
.icol32-ornament-gold{background-image:url("icol32/ornament_gold.png");}
.icol32-other-phone{background-image:url("icol32/other_phone.png");}
.icol32-package{background-image:url("icol32/package.png");}
.icol32-package-add{background-image:url("icol32/package_add.png");}
.icol32-package-delete{background-image:url("icol32/package_delete.png");}
.icol32-package-go{background-image:url("icol32/package_go.png");}
.icol32-package-green{background-image:url("icol32/package_green.png");}
.icol32-package-link{background-image:url("icol32/package_link.png");}
.icol32-page{background-image:url("icol32/page.png");}
.icol32-page-add{background-image:url("icol32/page_add.png");}
.icol32-page-attach{background-image:url("icol32/page_attach.png");}
.icol32-page-code{background-image:url("icol32/page_code.png");}
.icol32-page-copy{background-image:url("icol32/page_copy.png");}
.icol32-page-delete{background-image:url("icol32/page_delete.png");}
.icol32-page-edit{background-image:url("icol32/page_edit.png");}
.icol32-page-error{background-image:url("icol32/page_error.png");}
.icol32-page-excel{background-image:url("icol32/page_excel.png");}
.icol32-page-find{background-image:url("icol32/page_find.png");}
.icol32-page-gear{background-image:url("icol32/page_gear.png");}
.icol32-page-go{background-image:url("icol32/page_go.png");}
.icol32-page-green{background-image:url("icol32/page_green.png");}
.icol32-page-key{background-image:url("icol32/page_key.png");}
.icol32-page-lightning{background-image:url("icol32/page_lightning.png");}
.icol32-page-link{background-image:url("icol32/page_link.png");}
.icol32-page-magnifier{background-image:url("icol32/page_magnifier.png");}
.icol32-page-paintbrush{background-image:url("icol32/page_paintbrush.png");}
.icol32-page-paste{background-image:url("icol32/page_paste.png");}
.icol32-page-red{background-image:url("icol32/page_red.png");}
.icol32-page-refresh{background-image:url("icol32/page_refresh.png");}
.icol32-page-save{background-image:url("icol32/page_save.png");}
.icol32-page-white{background-image:url("icol32/page_white.png");}
.icol32-page-white-acrobat{background-image:url("icol32/page_white_acrobat.png");}
.icol32-page-white-actionscript{background-image:url("icol32/page_white_actionscript.png");}
.icol32-page-white-add{background-image:url("icol32/page_white_add.png");}
.icol32-page-white-c{background-image:url("icol32/page_white_c.png");}
.icol32-page-white-camera{background-image:url("icol32/page_white_camera.png");}
.icol32-page-white-cd{background-image:url("icol32/page_white_cd.png");}
.icol32-page-white-code{background-image:url("icol32/page_white_code.png");}
.icol32-page-white-code-red{background-image:url("icol32/page_white_code_red.png");}
.icol32-page-white-compress{background-image:url("icol32/page_white_compress.png");}
.icol32-page-white-copy{background-image:url("icol32/page_white_copy.png");}
.icol32-page-white-cplusplus{background-image:url("icol32/page_white_cplusplus.png");}
.icol32-page-white-csharp{background-image:url("icol32/page_white_csharp.png");}
.icol32-page-white-cup{background-image:url("icol32/page_white_cup.png");}
.icol32-page-white-database{background-image:url("icol32/page_white_database.png");}
.icol32-page-white-delete{background-image:url("icol32/page_white_delete.png");}
.icol32-page-white-dvd{background-image:url("icol32/page_white_dvd.png");}
.icol32-page-white-edit{background-image:url("icol32/page_white_edit.png");}
.icol32-page-white-error{background-image:url("icol32/page_white_error.png");}
.icol32-page-white-excel{background-image:url("icol32/page_white_excel.png");}
.icol32-page-white-find{background-image:url("icol32/page_white_find.png");}
.icol32-page-white-flash{background-image:url("icol32/page_white_flash.png");}
.icol32-page-white-gear{background-image:url("icol32/page_white_gear.png");}
.icol32-page-white-get{background-image:url("icol32/page_white_get.png");}
.icol32-page-white-go{background-image:url("icol32/page_white_go.png");}
.icol32-page-white-h{background-image:url("icol32/page_white_h.png");}
.icol32-page-white-horizontal{background-image:url("icol32/page_white_horizontal.png");}
.icol32-page-white-key{background-image:url("icol32/page_white_key.png");}
.icol32-page-white-lightning{background-image:url("icol32/page_white_lightning.png");}
.icol32-page-white-link{background-image:url("icol32/page_white_link.png");}
.icol32-page-white-magnify{background-image:url("icol32/page_white_magnify.png");}
.icol32-page-white-medal{background-image:url("icol32/page_white_medal.png");}
.icol32-page-white-office{background-image:url("icol32/page_white_office.png");}
.icol32-page-white-paint{background-image:url("icol32/page_white_paint.png");}
.icol32-page-white-paintbrush{background-image:url("icol32/page_white_paintbrush.png");}
.icol32-page-white-paste{background-image:url("icol32/page_white_paste.png");}
.icol32-page-white-php{background-image:url("icol32/page_white_php.png");}
.icol32-page-white-picture{background-image:url("icol32/page_white_picture.png");}
.icol32-page-white-powerpoint{background-image:url("icol32/page_white_powerpoint.png");}
.icol32-page-white-put{background-image:url("icol32/page_white_put.png");}
.icol32-page-white-ruby{background-image:url("icol32/page_white_ruby.png");}
.icol32-page-white-stack{background-image:url("icol32/page_white_stack.png");}
.icol32-page-white-star{background-image:url("icol32/page_white_star.png");}
.icol32-page-white-text{background-image:url("icol32/page_white_text.png");}
.icol32-page-white-text-width{background-image:url("icol32/page_white_text_width.png");}
.icol32-page-white-tux{background-image:url("icol32/page_white_tux.png");}
.icol32-page-white-vector{background-image:url("icol32/page_white_vector.png");}
.icol32-page-white-visualstudio{background-image:url("icol32/page_white_visualstudio.png");}
.icol32-page-white-width{background-image:url("icol32/page_white_width.png");}
.icol32-page-white-word{background-image:url("icol32/page_white_word.png");}
.icol32-page-white-world{background-image:url("icol32/page_white_world.png");}
.icol32-page-white-wrench{background-image:url("icol32/page_white_wrench.png");}
.icol32-page-white-zip{background-image:url("icol32/page_white_zip.png");}
.icol32-page-word{background-image:url("icol32/page_word.png");}
.icol32-page-world{background-image:url("icol32/page_world.png");}
.icol32-painbrush{background-image:url("icol32/painbrush.png");}
.icol32-paintcan{background-image:url("icol32/paintcan.png");}
.icol32-palette{background-image:url("icol32/palette.png");}
.icol32-parrot{background-image:url("icol32/parrot.png");}
.icol32-paste-plain{background-image:url("icol32/paste_plain.png");}
.icol32-paste-word{background-image:url("icol32/paste_word.png");}
.icol32-paypal{background-image:url("icol32/paypal.png");}
.icol32-pci{background-image:url("icol32/pci.png");}
.icol32-peacock{background-image:url("icol32/peacock.png");}
.icol32-pencil{background-image:url("icol32/pencil.png");}
.icol32-pencil-add{background-image:url("icol32/pencil_add.png");}
.icol32-pencil-delete{background-image:url("icol32/pencil_delete.png");}
.icol32-pencil-go{background-image:url("icol32/pencil_go.png");}
.icol32-perfomance{background-image:url("icol32/perfomance.png");}
.icol32-personals{background-image:url("icol32/personals.png");}
.icol32-personal-finance{background-image:url("icol32/personal_finance.png");}
.icol32-phone{background-image:url("icol32/phone.png");}
.icol32-phone-add{background-image:url("icol32/phone_add.png");}
.icol32-phone-Android{background-image:url("icol32/phone_Android.png");}
.icol32-phone-delete{background-image:url("icol32/phone_delete.png");}
.icol32-phone-sound{background-image:url("icol32/phone_sound.png");}
.icol32-photo{background-image:url("icol32/photo.png");}
.icol32-photos{background-image:url("icol32/photos.png");}
.icol32-photo-add{background-image:url("icol32/photo_add.png");}
.icol32-photo-delete{background-image:url("icol32/photo_delete.png");}
.icol32-photo-link{background-image:url("icol32/photo_link.png");}
.icol32-picture{background-image:url("icol32/picture.png");}
.icol32-pictures{background-image:url("icol32/pictures.png");}
.icol32-picture-add{background-image:url("icol32/picture_add.png");}
.icol32-picture-delete{background-image:url("icol32/picture_delete.png");}
.icol32-picture-edit{background-image:url("icol32/picture_edit.png");}
.icol32-picture-empty{background-image:url("icol32/picture_empty.png");}
.icol32-picture-error{background-image:url("icol32/picture_error.png");}
.icol32-picture-frame{background-image:url("icol32/picture_frame.png");}
.icol32-picture-go{background-image:url("icol32/picture_go.png");}
.icol32-picture-key{background-image:url("icol32/picture_key.png");}
.icol32-picture-link{background-image:url("icol32/picture_link.png");}
.icol32-picture-save{background-image:url("icol32/picture_save.png");}
.icol32-pilcrow{background-image:url("icol32/pilcrow.png");}
.icol32-pill{background-image:url("icol32/pill.png");}
.icol32-pill-add{background-image:url("icol32/pill_add.png");}
.icol32-pill-delete{background-image:url("icol32/pill_delete.png");}
.icol32-pill-go{background-image:url("icol32/pill_go.png");}
.icol32-Plant{background-image:url("icol32/Plant.png");}
.icol32-plugin{background-image:url("icol32/plugin.png");}
.icol32-plugin-add{background-image:url("icol32/plugin_add.png");}
.icol32-plugin-delete{background-image:url("icol32/plugin_delete.png");}
.icol32-plugin-disabled{background-image:url("icol32/plugin_disabled.png");}
.icol32-plugin-edit{background-image:url("icol32/plugin_edit.png");}
.icol32-plugin-error{background-image:url("icol32/plugin_error.png");}
.icol32-plugin-go{background-image:url("icol32/plugin_go.png");}
.icol32-plugin-link{background-image:url("icol32/plugin_link.png");}
.icol32-poker{background-image:url("icol32/poker.png");}
.icol32-pop-mail{background-image:url("icol32/pop_mail.png");}
.icol32-port{background-image:url("icol32/port.png");}
.icol32-premium-support{background-image:url("icol32/premium_support.png");}
.icol32-price-alert{background-image:url("icol32/price_alert.png");}
.icol32-price-comparison{background-image:url("icol32/price_comparison.png");}
.icol32-price-watch{background-image:url("icol32/price_watch.png");}
.icol32-printer{background-image:url("icol32/printer.png");}
.icol32-printer-add{background-image:url("icol32/printer_add.png");}
.icol32-printer-delete{background-image:url("icol32/printer_delete.png");}
.icol32-printer-empty{background-image:url("icol32/printer_empty.png");}
.icol32-printer-error{background-image:url("icol32/printer_error.png");}
.icol32-print-size{background-image:url("icol32/print_size.png");}
.icol32-processor{background-image:url("icol32/processor.png");}
.icol32-production-copyleft{background-image:url("icol32/production_copyleft.png");}
.icol32-profiles{background-image:url("icol32/profiles.png");}
.icol32-qip-angry{background-image:url("icol32/qip_angry.png");}
.icol32-qip-at-home{background-image:url("icol32/qip_at_home.png");}
.icol32-qip-at-work{background-image:url("icol32/qip_at_work.png");}
.icol32-qip-away{background-image:url("icol32/qip_away.png");}
.icol32-qip-bad-mood{background-image:url("icol32/qip_bad_mood.png");}
.icol32-qip-dnd{background-image:url("icol32/qip_dnd.png");}
.icol32-qip-eating{background-image:url("icol32/qip_eating.png");}
.icol32-qip-free-for-chat{background-image:url("icol32/qip_free_for_chat.png");}
.icol32-qip-invisible{background-image:url("icol32/qip_invisible.png");}
.icol32-qip-invisible-for-all{background-image:url("icol32/qip_invisible_for_all.png");}
.icol32-qip-not-available{background-image:url("icol32/qip_not_available.png");}
.icol32-qip-occupied{background-image:url("icol32/qip_occupied.png");}
.icol32-qip-offline{background-image:url("icol32/qip_offline.png");}
.icol32-qip-online{background-image:url("icol32/qip_online.png");}
.icol32-radiolocator{background-image:url("icol32/radiolocator.png");}
.icol32-radio-1{background-image:url("icol32/radio_1.png");}
.icol32-radio-2{background-image:url("icol32/radio_2.png");}
.icol32-rain{background-image:url("icol32/rain.png");}
.icol32-rainbow{background-image:url("icol32/rainbow.png");}
.icol32-rainbow-cloud{background-image:url("icol32/rainbow_cloud.png");}
.icol32-real-estate{background-image:url("icol32/real_estate.png");}
.icol32-recycle{background-image:url("icol32/recycle.png");}
.icol32-report{background-image:url("icol32/report.png");}
.icol32-report-add{background-image:url("icol32/report_add.png");}
.icol32-report-delete{background-image:url("icol32/report_delete.png");}
.icol32-report-disk{background-image:url("icol32/report_disk.png");}
.icol32-report-edit{background-image:url("icol32/report_edit.png");}
.icol32-report-go{background-image:url("icol32/report_go.png");}
.icol32-report-key{background-image:url("icol32/report_key.png");}
.icol32-report-link{background-image:url("icol32/report_link.png");}
.icol32-report-magnify{background-image:url("icol32/report_magnify.png");}
.icol32-report-picture{background-image:url("icol32/report_picture.png");}
.icol32-report-user{background-image:url("icol32/report_user.png");}
.icol32-report-word{background-image:url("icol32/report_word.png");}
.icol32-reseller-programm{background-image:url("icol32/reseller_programm.png");}
.icol32-resize-picture{background-image:url("icol32/resize_picture.png");}
.icol32-resources{background-image:url("icol32/resources.png");}
.icol32-resultset-first{background-image:url("icol32/resultset_first.png");}
.icol32-resultset-last{background-image:url("icol32/resultset_last.png");}
.icol32-resultset-next{background-image:url("icol32/resultset_next.png");}
.icol32-resultset-previous{background-image:url("icol32/resultset_previous.png");}
.icol32-ribbon{background-image:url("icol32/ribbon.png");}
.icol32-roadworks{background-image:url("icol32/roadworks.png");}
.icol32-rosette{background-image:url("icol32/rosette.png");}
.icol32-routing-around{background-image:url("icol32/routing_around.png");}
.icol32-routing-forward{background-image:url("icol32/routing_forward.png");}
.icol32-routing-go-left{background-image:url("icol32/routing_go_left.png");}
.icol32-routing-go-right{background-image:url("icol32/routing_go_right.png");}
.icol32-routing-go-straight-left{background-image:url("icol32/routing_go_straight_left.png");}
.icol32-routing-go-straight-right{background-image:url("icol32/routing_go_straight_right.png");}
.icol32-routing-intersection-right{background-image:url("icol32/routing_intersection_right.png");}
.icol32-routing-turnaround-left{background-image:url("icol32/routing_turnaround_left.png");}
.icol32-routing-turnaround-right{background-image:url("icol32/routing_turnaround_right.png");}
.icol32-routing-turning-left{background-image:url("icol32/routing_turning_left.png");}
.icol32-routing-turning-right{background-image:url("icol32/routing_turning_right.png");}
.icol32-routing-turn-arround-left{background-image:url("icol32/routing_turn_arround_left.png");}
.icol32-routing-turn-arround-right{background-image:url("icol32/routing_turn_arround_right.png");}
.icol32-routing-turn-left{background-image:url("icol32/routing_turn_left.png");}
.icol32-routing-turn-left-2{background-image:url("icol32/routing_turn_left_2.png");}
.icol32-routing-turn-left-crossroads{background-image:url("icol32/routing_turn_left_crossroads.png");}
.icol32-routing-turn-right{background-image:url("icol32/routing_turn_right.png");}
.icol32-routing-turn-right-2{background-image:url("icol32/routing_turn_right_2.png");}
.icol32-routing-turn-u{background-image:url("icol32/routing_turn_u.png");}
.icol32-rss{background-image:url("icol32/rss.png");}
.icol32-rss-add{background-image:url("icol32/rss_add.png");}
.icol32-rss-delete{background-image:url("icol32/rss_delete.png");}
.icol32-rss-go{background-image:url("icol32/rss_go.png");}
.icol32-rss-valid{background-image:url("icol32/rss_valid.png");}
.icol32-ruby{background-image:url("icol32/ruby.png");}
.icol32-ruby-add{background-image:url("icol32/ruby_add.png");}
.icol32-ruby-delete{background-image:url("icol32/ruby_delete.png");}
.icol32-ruby-gear{background-image:url("icol32/ruby_gear.png");}
.icol32-ruby-get{background-image:url("icol32/ruby_get.png");}
.icol32-ruby-go{background-image:url("icol32/ruby_go.png");}
.icol32-ruby-key{background-image:url("icol32/ruby_key.png");}
.icol32-ruby-link{background-image:url("icol32/ruby_link.png");}
.icol32-ruby-put{background-image:url("icol32/ruby_put.png");}
.icol32-safari-browser{background-image:url("icol32/safari_browser.png");}
.icol32-safe{background-image:url("icol32/safe.png");}
.icol32-santa{background-image:url("icol32/santa.png");}
.icol32-satellite{background-image:url("icol32/satellite.png");}
.icol32-save-as{background-image:url("icol32/save_as.png");}
.icol32-scale-image{background-image:url("icol32/scale_image.png");}
.icol32-screwdriver{background-image:url("icol32/screwdriver.png");}
.icol32-script{background-image:url("icol32/script.png");}
.icol32-scripts{background-image:url("icol32/scripts.png");}
.icol32-script-add{background-image:url("icol32/script_add.png");}
.icol32-script-code{background-image:url("icol32/script_code.png");}
.icol32-script-code-red{background-image:url("icol32/script_code_red.png");}
.icol32-script-delete{background-image:url("icol32/script_delete.png");}
.icol32-script-edit{background-image:url("icol32/script_edit.png");}
.icol32-script-error{background-image:url("icol32/script_error.png");}
.icol32-script-gear{background-image:url("icol32/script_gear.png");}
.icol32-script-go{background-image:url("icol32/script_go.png");}
.icol32-script-key{background-image:url("icol32/script_key.png");}
.icol32-script-lightning{background-image:url("icol32/script_lightning.png");}
.icol32-script-link{background-image:url("icol32/script_link.png");}
.icol32-script-palette{background-image:url("icol32/script_palette.png");}
.icol32-script-save{background-image:url("icol32/script_save.png");}
.icol32-select{background-image:url("icol32/select.png");}
.icol32-select-by-adding-to-selection{background-image:url("icol32/select_by_adding_to_selection.png");}
.icol32-select-by-color{background-image:url("icol32/select_by_color.png");}
.icol32-select-by-difference{background-image:url("icol32/select_by_difference.png");}
.icol32-select-by-intersection{background-image:url("icol32/select_by_intersection.png");}
.icol32-select-continuous-area{background-image:url("icol32/select_continuous_area.png");}
.icol32-select-ellipse{background-image:url("icol32/select_ellipse.png");}
.icol32-select-invert{background-image:url("icol32/select_invert.png");}
.icol32-select-lasso{background-image:url("icol32/select_lasso.png");}
.icol32-select-restangular{background-image:url("icol32/select_restangular.png");}
.icol32-server{background-image:url("icol32/server.png");}
.icol32-server-add{background-image:url("icol32/server_add.png");}
.icol32-server-chart{background-image:url("icol32/server_chart.png");}
.icol32-server-compress{background-image:url("icol32/server_compress.png");}
.icol32-server-connect{background-image:url("icol32/server_connect.png");}
.icol32-server-database{background-image:url("icol32/server_database.png");}
.icol32-server-delete{background-image:url("icol32/server_delete.png");}
.icol32-server-edit{background-image:url("icol32/server_edit.png");}
.icol32-server-error{background-image:url("icol32/server_error.png");}
.icol32-server-go{background-image:url("icol32/server_go.png");}
.icol32-server-information{background-image:url("icol32/server_information.png");}
.icol32-server-key{background-image:url("icol32/server_key.png");}
.icol32-server-lightning{background-image:url("icol32/server_lightning.png");}
.icol32-server-link{background-image:url("icol32/server_link.png");}
.icol32-server-stanchion{background-image:url("icol32/server_stanchion.png");}
.icol32-server-uncompress{background-image:url("icol32/server_uncompress.png");}
.icol32-setting-tools{background-image:url("icol32/setting_tools.png");}
.icol32-set-security-question{background-image:url("icol32/set_security_question.png");}
.icol32-shading{background-image:url("icol32/shading.png");}
.icol32-shape-align-bottom{background-image:url("icol32/shape_align_bottom.png");}
.icol32-shape-align-center{background-image:url("icol32/shape_align_center.png");}
.icol32-shape-align-left{background-image:url("icol32/shape_align_left.png");}
.icol32-shape-align-middle{background-image:url("icol32/shape_align_middle.png");}
.icol32-shape-align-right{background-image:url("icol32/shape_align_right.png");}
.icol32-shape-align-top{background-image:url("icol32/shape_align_top.png");}
.icol32-shape-flip-horizontal{background-image:url("icol32/shape_flip_horizontal.png");}
.icol32-shape-flip-vertical{background-image:url("icol32/shape_flip_vertical.png");}
.icol32-shape-group{background-image:url("icol32/shape_group.png");}
.icol32-shape-handles{background-image:url("icol32/shape_handles.png");}
.icol32-shape-move-back{background-image:url("icol32/shape_move_back.png");}
.icol32-shape-move-backwards{background-image:url("icol32/shape_move_backwards.png");}
.icol32-shape-move-forwards{background-image:url("icol32/shape_move_forwards.png");}
.icol32-shape-move-front{background-image:url("icol32/shape_move_front.png");}
.icol32-shape-rotate-anticlockwise{background-image:url("icol32/shape_rotate_anticlockwise.png");}
.icol32-shape-rotate-clockwise{background-image:url("icol32/shape_rotate_clockwise.png");}
.icol32-shape-square{background-image:url("icol32/shape_square.png");}
.icol32-shape-square-add{background-image:url("icol32/shape_square_add.png");}
.icol32-shape-square-delete{background-image:url("icol32/shape_square_delete.png");}
.icol32-shape-square-edit{background-image:url("icol32/shape_square_edit.png");}
.icol32-shape-square-error{background-image:url("icol32/shape_square_error.png");}
.icol32-shape-square-go{background-image:url("icol32/shape_square_go.png");}
.icol32-shape-square-key{background-image:url("icol32/shape_square_key.png");}
.icol32-shape-square-link{background-image:url("icol32/shape_square_link.png");}
.icol32-shape-ungroup{background-image:url("icol32/shape_ungroup.png");}
.icol32-share{background-image:url("icol32/share.png");}
.icol32-shield{background-image:url("icol32/shield.png");}
.icol32-shield-add{background-image:url("icol32/shield_add.png");}
.icol32-shield-delete{background-image:url("icol32/shield_delete.png");}
.icol32-shield-go{background-image:url("icol32/shield_go.png");}
.icol32-shopping{background-image:url("icol32/shopping.png");}
.icol32-showel{background-image:url("icol32/showel.png");}
.icol32-shuriken{background-image:url("icol32/shuriken.png");}
.icol32-sign{background-image:url("icol32/sign.png");}
.icol32-sitemap{background-image:url("icol32/sitemap.png");}
.icol32-sitemap-color{background-image:url("icol32/sitemap_color.png");}
.icol32-site-backup-and-restore{background-image:url("icol32/site_backup_and_restore.png");}
.icol32-site-enhancer{background-image:url("icol32/site_enhancer.png");}
.icol32-skate{background-image:url("icol32/skate.png");}
.icol32-slideshow{background-image:url("icol32/slideshow.png");}
.icol32-small-business{background-image:url("icol32/small_business.png");}
.icol32-small-car{background-image:url("icol32/small_car.png");}
.icol32-small-tiles{background-image:url("icol32/small_tiles.png");}
.icol32-snapshot{background-image:url("icol32/snapshot.png");}
.icol32-snowman{background-image:url("icol32/snowman.png");}
.icol32-snow-rain{background-image:url("icol32/snow_rain.png");}
.icol32-solar{background-image:url("icol32/solar.png");}
.icol32-sound{background-image:url("icol32/sound.png");}
.icol32-sound-add{background-image:url("icol32/sound_add.png");}
.icol32-sound-delete{background-image:url("icol32/sound_delete.png");}
.icol32-sound-low{background-image:url("icol32/sound_low.png");}
.icol32-sound-mute{background-image:url("icol32/sound_mute.png");}
.icol32-sound-none{background-image:url("icol32/sound_none.png");}
.icol32-source-code{background-image:url("icol32/source_code.png");}
.icol32-spam-filter{background-image:url("icol32/spam_filter.png");}
.icol32-speakers{background-image:url("icol32/speakers.png");}
.icol32-speedometer{background-image:url("icol32/speedometer.png");}
.icol32-spellcheck{background-image:url("icol32/spellcheck.png");}
.icol32-spider-web{background-image:url("icol32/spider_web.png");}
.icol32-sport{background-image:url("icol32/sport.png");}
.icol32-sport-8ball{background-image:url("icol32/sport_8ball.png");}
.icol32-sport-basketball{background-image:url("icol32/sport_basketball.png");}
.icol32-sport-football{background-image:url("icol32/sport_football.png");}
.icol32-sport-golf{background-image:url("icol32/sport_golf.png");}
.icol32-sport-raquet{background-image:url("icol32/sport_raquet.png");}
.icol32-sport-shuttlecock{background-image:url("icol32/sport_shuttlecock.png");}
.icol32-sport-soccer{background-image:url("icol32/sport_soccer.png");}
.icol32-sport-tennis{background-image:url("icol32/sport_tennis.png");}
.icol32-star{background-image:url("icol32/star.png");}
.icol32-status-away{background-image:url("icol32/status_away.png");}
.icol32-status-busy{background-image:url("icol32/status_busy.png");}
.icol32-status-offline{background-image:url("icol32/status_offline.png");}
.icol32-status-online{background-image:url("icol32/status_online.png");}
.icol32-stop{background-image:url("icol32/stop.png");}
.icol32-stopwatch-finish{background-image:url("icol32/stopwatch_finish.png");}
.icol32-stopwatch-pause{background-image:url("icol32/stopwatch_pause.png");}
.icol32-stopwatch-start{background-image:url("icol32/stopwatch_start.png");}
.icol32-storage{background-image:url("icol32/storage.png");}
.icol32-style{background-image:url("icol32/style.png");}
.icol32-style-add{background-image:url("icol32/style_add.png");}
.icol32-style-delete{background-image:url("icol32/style_delete.png");}
.icol32-style-edit{background-image:url("icol32/style_edit.png");}
.icol32-style-go{background-image:url("icol32/style_go.png");}
.icol32-subwoofer{background-image:url("icol32/subwoofer.png");}
.icol32-sum{background-image:url("icol32/sum.png");}
.icol32-sun-cloudy{background-image:url("icol32/sun_cloudy.png");}
.icol32-sun-rain{background-image:url("icol32/sun_rain.png");}
.icol32-support{background-image:url("icol32/support.png");}
.icol32-tab{background-image:url("icol32/tab.png");}
.icol32-table{background-image:url("icol32/table.png");}
.icol32-table-add{background-image:url("icol32/table_add.png");}
.icol32-table-delete{background-image:url("icol32/table_delete.png");}
.icol32-table-edit{background-image:url("icol32/table_edit.png");}
.icol32-table-error{background-image:url("icol32/table_error.png");}
.icol32-table-gear{background-image:url("icol32/table_gear.png");}
.icol32-table-go{background-image:url("icol32/table_go.png");}
.icol32-table-key{background-image:url("icol32/table_key.png");}
.icol32-table-lightning{background-image:url("icol32/table_lightning.png");}
.icol32-table-link{background-image:url("icol32/table_link.png");}
.icol32-table-multiple{background-image:url("icol32/table_multiple.png");}
.icol32-table-refresh{background-image:url("icol32/table_refresh.png");}
.icol32-table-relationship{background-image:url("icol32/table_relationship.png");}
.icol32-table-row-delete{background-image:url("icol32/table_row_delete.png");}
.icol32-table-row-insert{background-image:url("icol32/table_row_insert.png");}
.icol32-table-save{background-image:url("icol32/table_save.png");}
.icol32-table-sort{background-image:url("icol32/table_sort.png");}
.icol32-tab-add{background-image:url("icol32/tab_add.png");}
.icol32-tab-delete{background-image:url("icol32/tab_delete.png");}
.icol32-tab-edit{background-image:url("icol32/tab_edit.png");}
.icol32-tab-go{background-image:url("icol32/tab_go.png");}
.icol32-tag{background-image:url("icol32/tag.png");}
.icol32-tags-cloud{background-image:url("icol32/tags_cloud.png");}
.icol32-tag-blue{background-image:url("icol32/tag_blue.png");}
.icol32-tag-blue-add{background-image:url("icol32/tag_blue_add.png");}
.icol32-tag-blue-delete{background-image:url("icol32/tag_blue_delete.png");}
.icol32-tag-blue-edit{background-image:url("icol32/tag_blue_edit.png");}
.icol32-tag-green{background-image:url("icol32/tag_green.png");}
.icol32-tag-orange{background-image:url("icol32/tag_orange.png");}
.icol32-tag-pink{background-image:url("icol32/tag_pink.png");}
.icol32-tag-purple{background-image:url("icol32/tag_purple.png");}
.icol32-tag-red{background-image:url("icol32/tag_red.png");}
.icol32-tag-yellow{background-image:url("icol32/tag_yellow.png");}
.icol32-teddy-bear{background-image:url("icol32/teddy_bear.png");}
.icol32-telephone{background-image:url("icol32/telephone.png");}
.icol32-telephone-add{background-image:url("icol32/telephone_add.png");}
.icol32-telephone-delete{background-image:url("icol32/telephone_delete.png");}
.icol32-telephone-edit{background-image:url("icol32/telephone_edit.png");}
.icol32-telephone-error{background-image:url("icol32/telephone_error.png");}
.icol32-telephone-go{background-image:url("icol32/telephone_go.png");}
.icol32-telephone-key{background-image:url("icol32/telephone_key.png");}
.icol32-telephone-link{background-image:url("icol32/telephone_link.png");}
.icol32-television{background-image:url("icol32/television.png");}
.icol32-television-add{background-image:url("icol32/television_add.png");}
.icol32-television-delete{background-image:url("icol32/television_delete.png");}
.icol32-temperature-1{background-image:url("icol32/temperature_1.png");}
.icol32-temperature-2{background-image:url("icol32/temperature_2.png");}
.icol32-temperature-3{background-image:url("icol32/temperature_3.png");}
.icol32-temperature-4{background-image:url("icol32/temperature_4.png");}
.icol32-temperature-5{background-image:url("icol32/temperature_5.png");}
.icol32-terminal{background-image:url("icol32/terminal.png");}
.icol32-textfield{background-image:url("icol32/textfield.png");}
.icol32-textfield-add{background-image:url("icol32/textfield_add.png");}
.icol32-textfield-delete{background-image:url("icol32/textfield_delete.png");}
.icol32-textfield-key{background-image:url("icol32/textfield_key.png");}
.icol32-textfield-rename{background-image:url("icol32/textfield_rename.png");}
.icol32-text-align-center{background-image:url("icol32/text_align_center.png");}
.icol32-text-align-justity{background-image:url("icol32/text_align_justity.png");}
.icol32-text-align-left{background-image:url("icol32/text_align_left.png");}
.icol32-text-align-right{background-image:url("icol32/text_align_right.png");}
.icol32-text-allcaps{background-image:url("icol32/text_allcaps.png");}
.icol32-text-bold{background-image:url("icol32/text_bold.png");}
.icol32-text-columns{background-image:url("icol32/text_columns.png");}
.icol32-text-dropcaps{background-image:url("icol32/text_dropcaps.png");}
.icol32-text-heading-1{background-image:url("icol32/text_heading_1.png");}
.icol32-text-heading-2{background-image:url("icol32/text_heading_2.png");}
.icol32-text-heading-3{background-image:url("icol32/text_heading_3.png");}
.icol32-text-heading-4{background-image:url("icol32/text_heading_4.png");}
.icol32-text-heading-5{background-image:url("icol32/text_heading_5.png");}
.icol32-text-heading-6{background-image:url("icol32/text_heading_6.png");}
.icol32-text-horizontalrule{background-image:url("icol32/text_horizontalrule.png");}
.icol32-text-indent{background-image:url("icol32/text_indent.png");}
.icol32-text-indent-remove{background-image:url("icol32/text_indent_remove.png");}
.icol32-text-italic{background-image:url("icol32/text_italic.png");}
.icol32-text-kerning{background-image:url("icol32/text_kerning.png");}
.icol32-text-letterspacing{background-image:url("icol32/text_letterspacing.png");}
.icol32-text-letter-omega{background-image:url("icol32/text_letter_omega.png");}
.icol32-text-linespacing{background-image:url("icol32/text_linespacing.png");}
.icol32-text-list-bullets{background-image:url("icol32/text_list_bullets.png");}
.icol32-text-list-numbers{background-image:url("icol32/text_list_numbers.png");}
.icol32-text-lowercase{background-image:url("icol32/text_lowercase.png");}
.icol32-text-padding-bottom{background-image:url("icol32/text_padding_bottom.png");}
.icol32-text-padding-left{background-image:url("icol32/text_padding_left.png");}
.icol32-text-padding-right{background-image:url("icol32/text_padding_right.png");}
.icol32-text-padding-top{background-image:url("icol32/text_padding_top.png");}
.icol32-text-replace{background-image:url("icol32/text_replace.png");}
.icol32-text-signature{background-image:url("icol32/text_signature.png");}
.icol32-text-smallcaps{background-image:url("icol32/text_smallcaps.png");}
.icol32-text-strikethroungh{background-image:url("icol32/text_strikethroungh.png");}
.icol32-text-subscript{background-image:url("icol32/text_subscript.png");}
.icol32-text-superscript{background-image:url("icol32/text_superscript.png");}
.icol32-text-underline{background-image:url("icol32/text_underline.png");}
.icol32-text-uppercase{background-image:url("icol32/text_uppercase.png");}
.icol32-things-beauty{background-image:url("icol32/things_beauty.png");}
.icol32-things-digital{background-image:url("icol32/things_digital.png");}
.icol32-three-tags{background-image:url("icol32/three_tags.png");}
.icol32-thumb-down{background-image:url("icol32/thumb_down.png");}
.icol32-thumb-up{background-image:url("icol32/thumb_up.png");}
.icol32-tick{background-image:url("icol32/tick.png");}
.icol32-time{background-image:url("icol32/time.png");}
.icol32-timeline{background-image:url("icol32/timeline.png");}
.icol32-timeline-marker{background-image:url("icol32/timeline_marker.png");}
.icol32-time-add{background-image:url("icol32/time_add.png");}
.icol32-time-delete{background-image:url("icol32/time_delete.png");}
.icol32-time-go{background-image:url("icol32/time_go.png");}
.icol32-toolbox{background-image:url("icol32/toolbox.png");}
.icol32-tornado{background-image:url("icol32/tornado.png");}
.icol32-toucan{background-image:url("icol32/toucan.png");}
.icol32-toxic{background-image:url("icol32/toxic.png");}
.icol32-transform-crop{background-image:url("icol32/transform_crop.png");}
.icol32-transform-crop-resize{background-image:url("icol32/transform_crop_resize.png");}
.icol32-transform-flip{background-image:url("icol32/transform_flip.png");}
.icol32-transform-layer{background-image:url("icol32/transform_layer.png");}
.icol32-transform-move{background-image:url("icol32/transform_move.png");}
.icol32-transform-path{background-image:url("icol32/transform_path.png");}
.icol32-transform-perspective{background-image:url("icol32/transform_perspective.png");}
.icol32-transform-rotate{background-image:url("icol32/transform_rotate.png");}
.icol32-transform-rotate-180{background-image:url("icol32/transform_rotate_180.png");}
.icol32-transform-rotate-270{background-image:url("icol32/transform_rotate_270.png");}
.icol32-transform-rotate-90{background-image:url("icol32/transform_rotate_90.png");}
.icol32-transform-scale{background-image:url("icol32/transform_scale.png");}
.icol32-transform-selection{background-image:url("icol32/transform_selection.png");}
.icol32-transform-shear{background-image:url("icol32/transform_shear.png");}
.icol32-transmit{background-image:url("icol32/transmit.png");}
.icol32-transmit-add{background-image:url("icol32/transmit_add.png");}
.icol32-transmit-blue{background-image:url("icol32/transmit_blue.png");}
.icol32-transmit-delete{background-image:url("icol32/transmit_delete.png");}
.icol32-transmit-edit{background-image:url("icol32/transmit_edit.png");}
.icol32-transmit-error{background-image:url("icol32/transmit_error.png");}
.icol32-transmit-go{background-image:url("icol32/transmit_go.png");}
.icol32-travel{background-image:url("icol32/travel.png");}
.icol32-tree{background-image:url("icol32/tree.png");}
.icol32-tux{background-image:url("icol32/tux.png");}
.icol32-twitter-1{background-image:url("icol32/twitter_1.png");}
.icol32-twitter-2{background-image:url("icol32/twitter_2.png");}
.icol32-umbrella{background-image:url("icol32/umbrella.png");}
.icol32-understanding{background-image:url("icol32/understanding.png");}
.icol32-update{background-image:url("icol32/update.png");}
.icol32-user{background-image:url("icol32/user.png");}
.icol32-user-add{background-image:url("icol32/user_add.png");}
.icol32-user-comment{background-image:url("icol32/user_comment.png");}
.icol32-user-delete{background-image:url("icol32/user_delete.png");}
.icol32-user-edit{background-image:url("icol32/user_edit.png");}
.icol32-user-female{background-image:url("icol32/user_female.png");}
.icol32-user-go{background-image:url("icol32/user_go.png");}
.icol32-user-gray{background-image:url("icol32/user_gray.png");}
.icol32-user-green{background-image:url("icol32/user_green.png");}
.icol32-user-orange{background-image:url("icol32/user_orange.png");}
.icol32-user-red{background-image:url("icol32/user_red.png");}
.icol32-user-suit{background-image:url("icol32/user_suit.png");}
.icol32-vcard{background-image:url("icol32/vcard.png");}
.icol32-vcard-add{background-image:url("icol32/vcard_add.png");}
.icol32-vcard-delete{background-image:url("icol32/vcard_delete.png");}
.icol32-vcard-edit{background-image:url("icol32/vcard_edit.png");}
.icol32-vector{background-image:url("icol32/vector.png");}
.icol32-vector-add{background-image:url("icol32/vector_add.png");}
.icol32-vector-delete{background-image:url("icol32/vector_delete.png");}
.icol32-video{background-image:url("icol32/video.png");}
.icol32-video-mode{background-image:url("icol32/video_mode.png");}
.icol32-walk{background-image:url("icol32/walk.png");}
.icol32-wand{background-image:url("icol32/wand.png");}
.icol32-weather-clouds{background-image:url("icol32/weather_clouds.png");}
.icol32-weather-cloudy{background-image:url("icol32/weather_cloudy.png");}
.icol32-weather-lightning{background-image:url("icol32/weather_lightning.png");}
.icol32-weather-rain{background-image:url("icol32/weather_rain.png");}
.icol32-weather-snow{background-image:url("icol32/weather_snow.png");}
.icol32-weather-sun{background-image:url("icol32/weather_sun.png");}
.icol32-webcam{background-image:url("icol32/webcam.png");}
.icol32-webcam-add{background-image:url("icol32/webcam_add.png");}
.icol32-webcam-delete{background-image:url("icol32/webcam_delete.png");}
.icol32-webcam-error{background-image:url("icol32/webcam_error.png");}
.icol32-web-concierge{background-image:url("icol32/web_concierge.png");}
.icol32-weight{background-image:url("icol32/weight.png");}
.icol32-whistle{background-image:url("icol32/whistle.png");}
.icol32-widescreen{background-image:url("icol32/widescreen.png");}
.icol32-widgets{background-image:url("icol32/widgets.png");}
.icol32-windy{background-image:url("icol32/windy.png");}
.icol32-wine-pairings{background-image:url("icol32/wine_pairings.png");}
.icol32-winrar-add{background-image:url("icol32/winrar_add.png");}
.icol32-winrar-extract{background-image:url("icol32/winrar_extract.png");}
.icol32-winrar-view{background-image:url("icol32/winrar_view.png");}
.icol32-wishlist-add{background-image:url("icol32/wishlist_add.png");}
.icol32-wordpress{background-image:url("icol32/wordpress.png");}
.icol32-workspace{background-image:url("icol32/workspace.png");}
.icol32-world{background-image:url("icol32/world.png");}
.icol32-world-add{background-image:url("icol32/world_add.png");}
.icol32-world-delete{background-image:url("icol32/world_delete.png");}
.icol32-world-edit{background-image:url("icol32/world_edit.png");}
.icol32-world-go{background-image:url("icol32/world_go.png");}
.icol32-world-link{background-image:url("icol32/world_link.png");}
.icol32-wrench{background-image:url("icol32/wrench.png");}
.icol32-wrench-orange{background-image:url("icol32/wrench_orange.png");}
.icol32-www-page{background-image:url("icol32/www_page.png");}
.icol32-xhtml{background-image:url("icol32/xhtml.png");}
.icol32-xhtml-add{background-image:url("icol32/xhtml_add.png");}
.icol32-xhtml-delete{background-image:url("icol32/xhtml_delete.png");}
.icol32-xhtml-go{background-image:url("icol32/xhtml_go.png");}
.icol32-xhtml-valid{background-image:url("icol32/xhtml_valid.png");}
.icol32-zoom{background-image:url("icol32/zoom.png");}
.icol32-zoom-extend{background-image:url("icol32/zoom_extend.png");}
.icol32-zoom-in{background-image:url("icol32/zoom_in.png");}
.icol32-zoom-last{background-image:url("icol32/zoom_last.png");}
.icol32-zoom-layer{background-image:url("icol32/zoom_layer.png");}
.icol32-zoom-out{background-image:url("icol32/zoom_out.png");}
.icol32-zoom-refresh{background-image:url("icol32/zoom_refresh.png");}
.icol32-zoom-selection{background-image:url("icol32/zoom_selection.png");}